<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/addEditTruckTrade.css"/>
		<title>添加/编辑槽车租卖</title>
	</head>
	<body>
		<div class="truckTradeWrap layui-form">
			
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="tradeTypeInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>贸易类型</label>
				<div class="layui-input-block">
					<input type="radio" value="1" name="tradeTypeName" title="租赁" lay-filter="tradeTypeFilter"/>
					<input type="radio" value="2" name="tradeTypeName" title="买卖" lay-filter="tradeTypeFilter"/>
				</div>		
			</div>
			
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="compTypeInp">
				<label class="layui-form-label"><span class="mustItem">*</span>企业类型</label>
				<div class="layui-input-block">
					<input type="radio" value="1" name="compTypeName" title="个人" lay-filter="comTypeFilter"/>
					<input type="radio" value="2" name="compTypeName" title="公司" lay-filter="comTypeFilter"/>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="truckTypeInp">
				<label class="layui-form-label"><span class="mustItem">*</span>槽车类型</label>
				<div class="layui-input-block" id="truckTypeWrap">
					<p class="tipInfo">请先选择企业类型</p>
				</div>		
			</div>
			<!-- 通过普货或危货选择对应车辆 -->
			<div id="truckTypeNameWrap" class="layui-form-item addEditItem">
				<input type="hidden" id="truckTypeNameInp">
				<label class="layui-form-label"><span class="mustItem">*</span><span id="truckNameTxt"></span></label>
				<div class="layui-input-block comInpItem">
					<select id="truckTypeNameSel" lay-filter="truckTypeNameSel"></select>
				</div>		
			</div>
			<div id="compNameWrap" class="layui-form-item addEditItem">
				<input type="hidden" id="compNameInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>公司名称</label>
				<div class="layui-input-block comInpItem">
					<select id="compNameSel" lay-filter="compNameSel">
						<option value="">请选择公司</option>
					</select>
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label"><span class="mustItem">*</span>车辆主图</label>
				<div class="layui-input-block">
					<a id="addImgBtn_main" title="添加车辆主图" class="addMainImgBtn" href="javascript:void(0)">
						<i class="iconfont icon-add"></i>
						<img id="thubImg_main"/>
					</a>
					<p class="tipsInfo">
						<i class="iconfont icon-gonggao"></i>
						<span>请上传车辆主图，建议图片宽高尺寸750*400</span>
					</p>
					<span class="viewMainBigImg">查看原图</span>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>车辆注册地</label>
				<input type="hidden" id="provInp" />
				<input type="hidden" id="cityInp" />
				<div class="itemDet provItemDet">
					<select id="provinceSel" name="province" lay-filter="province">
						<option value="">请选择省</option>
					</select>
				</div>
				<div class="itemDet">
					<select id="citySel" name="city" lay-filter="city" disabled>
						<option value="">请选择市区</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="cardTitInp">
				<input type="hidden" id="cardWordsInp">
				<label class="layui-form-label"><span class="mustItem">*</span>车牌号码</label>
				<div class="layui-input-block">
					<div class="carNumSelWrap">
						<select id="cardTitSel" lay-filter="cardTitSel"></select>
					</div>
					<div class="carNumSelWrap">
						<select id="cardWordSel" lay-filter="cardWordSel"></select>
					</div>
					<div class="carNumInpWrap">
						<input id="cardNumInp" type="text" class="layui-input" placeholder="请输入车牌号码" maxlength="5" autocomplete="off" />
					</div>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>购置年份</label>
				<div class="layui-input-block comInpItem">
					<input id="truckBuyTime" type="text" placeholder="请选择车辆购置年份" readonly class="layui-input"/>
					<span class="danweiTxt">年</span>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>车头上牌年月</label>
				<div class="layui-input-block comInpItem">
					<input id="truckHeadTimeInp" type="text" placeholder="请选择车头上牌年月" readonly class="layui-input"/>
					<span class="danweiTxt">月</span>
				</div>		
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span><span id="priceLableTxt">价格</span></label>
				<div class="layui-input-block comInpItem">
					<input id="priceNumInp" type="text" placeholder="请输入价格(输入0为格面议)" class="layui-input" autocomplete="off"/>
					<span class="danweiTxt">元</span>
				</div>		
			</div>
			
			
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="truckHeadTypeInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>车头类型</label>
				<div class="layui-input-block comInpItem">
					<select id="truckHeadTypeSel" lay-filter="truckHeadTypeSel">
						<option value="">请选择车头类型</option>
					</select>
				</div>
			</div>
			
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="truckHeadBrandInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>车头品牌</label>
				<div class="layui-input-block comInpItem">
					<select id="truckHeadBrandSel" lay-filter="truckHeadBrandSel">
						<option value="">请选择车头品牌</option>
					</select>
				</div>
			</div>
			
			<!-- 危货下储罐品牌 容积以及上牌年月 -->
			<div class="dangerItemWrap">
				<div class="layui-form-item">
					<label class="layui-form-label"><span class="mustItem">*</span>储罐品牌</label>
					<input type="hidden" id="tankBandInp"/>
					<div class="layui-input-block comInpItem">
						<select id="tankBandSel" lay-filter="tankBandSel">
							<option value="">请选择储罐品牌</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><span class="mustItem">*</span>储罐容积</label>
					<div class="layui-input-block comInpItem">
						<input id="volumeInp" type="text" placeholder="请输入储罐容积(1-1000立方米)" class="layui-input" autocomplete="off" maxlength="4"/>
						<span class="danweiTxt">m³</span>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label"><span class="mustItem">*</span>储罐上牌年月</label>
					<div class="layui-input-block comInpItem">
						<input id="potYearInp" type="text" placeholder="请选择储罐上牌年月" class="layui-input" readonly/>
						<span class="danweiTxt">月</span>
					</div>
				</div>
				
			</div>
			
			<div id="jgzzWrap" class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>进港资质</label>
				<div id="jgzzList" class="layui-input-block comInpItem">
					<!-- <select id="jgzzSel" lay-filter="jgzzSel">
						<option value="">请选择进港资质</option>
					</select> -->
				</div>
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>行驶里程</label>
				<div class="layui-input-block comInpItem">
					<input id="driveMileInp" type="text" placeholder="请输入车辆行驶里程(公里)" autocomplete="off" class="layui-input"/>
					<span class="danweiTxt">公里</span>
				</div>		
			</div>
			
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="accidentInp">
				<label class="layui-form-label"><span class="mustItem">*</span>是否发生事故</label>
				<div class="layui-input-block">
					<input type="radio" name="accidentInpName" value="0" title="不公开" lay-filter="accidentFilter"/>
					<input type="radio" name="accidentInpName" value="1" title="是" lay-filter="accidentFilter"/>
					<input type="radio" name="accidentInpName" value="2" title="否" lay-filter="accidentFilter"/>
				</div>		
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>联系人</label>
				<div class="layui-input-block comInpItem">
					<input id="lxrNameInp" type="text" class="layui-input" placeholder="请输入联系人姓名" autocomplete="off" maxlength="10"/>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>手机号码</label>
				<div class="layui-input-block comInpItem">
					<input id="lxrTel" type="text" class="layui-input" placeholder="请输入联系人手机号码" autocomplete="off" maxlength="11"/>
				</div>		
			</div>
			
			<!-- 运输范围贸易类型为租赁时存在 -->
			<div id="transformArea" class="layui-form-item transformArea">
				<label class="layui-form-label"><span class="mustItem">*</span>运输范围</label>
				<div class="layui-input-block comInpItem" id="provList"></div>
			</div>
			
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="wxpfbzInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>尾气排放标准</label>
				<div class="layui-input-block comInpItem">
					<select id="wqpfbzSel" lay-filter="wqpfbzSel">
						<option value="">请选择尾气排放标准</option>
					</select>
				</div>
			</div>
			
			<div id="gasTypeWrap" class="layui-form-item addEditItem">
				<!-- <input type="hidden" id="gasTypeInp"/> -->
				<input type="hidden" id="zzjzInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>装载介质</label>
				<div class="layui-input-block comInpItem">
					<select id="zzjzSel" lay-filter="zzjzSel">
						<option value="">请选择装载介质</option>
					</select>
				</div>
			</div>
			
			<!-- 货车类型为危货 -->
			<div class="dangerItemWrap layui-clear">
				<div class="dangerItem hasMargL">
					<p><span class="mustItem">*</span>车头行驶证</p>
					<div class="addImgWrap">
						<a id="addImgBtn_headXsz" title="添加车头行驶证" class="addImgBtn" href="javascript:void(0)">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_headXsz"/>
						</a>
						<span id="viewBigImg_headXsz" class="viewBigImg">查看原图</span>
					</div>		
				</div>
				
				<div class="dangerItem">
					<p><span class="mustItem">*</span>罐车行驶证</p>
					<div class="addImgWrap">
						<a id="addImgBtn_gcXsz" title="添加罐车行驶证" class="addImgBtn" href="javascript:void(0)">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_gcXsz"/>
						</a>
						<span id="viewBigImg_gcXsz" class="viewBigImg">查看原图</span>
					</div>		
				</div> 
				
				<div class="dangerItem">
					<p><span class="mustItem">*</span>车辆运营证</p>
					<div class="addImgWrap">
						<a id="addImgBtn_yyz" title="添加车辆运营证" class="addImgBtn" href="javascript:void(0)">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_yyz"/>
						</a>
						<span id="viewBigImg_yyz" class="viewBigImg">查看原图</span>
					</div>		
				</div>
				
				<div class="dangerItem">
					<p><span class="mustItem">*</span>储罐检验合格证</p>
					<div class="addImgWrap">
						<a id="addImgBtn_jyz" title="添加储罐检验合格证" class="addImgBtn" href="javascript:void(0)">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_jyz"/>
						</a>
						<span id="viewBigImg_jyz" class="viewBigImg">查看原图</span>
					</div>		
				</div>
				
				<div class="dangerItem">
					<p><span class="mustItem">*</span>安全阀校验报告</p>
					<div class="addImgWrap">
						<a id="addImgBtn_aqf" title="添加安全阀校验报告" class="addImgBtn" href="javascript:void(0)">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_aqf"/>
						</a>
						<span id="viewBigImg_aqf" class="viewBigImg">查看原图</span>
					</div>		
				</div>
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-block comInpItem">
					<textarea id="remark" placeholder="请输入备注(200字以内)" maxlength="200" class="layui-textarea"></textarea>
				</div>		
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label">槽车详情图</label>
				<span class="tipsTxt">最多上传9张</span>
				<div class="layui-input-block comInpItem">
					<div class="detImgList">
						<ul id="detImgListUl"></ul>
					</div>
					<a id="addDetImgBtn" title="添加图片" class="addDetImgBtn" href="javascript:void(0)">
						<i class="iconfont icon-add"></i>
					</a>
				</div>
			</div>
			
			<div class="layui-form-item comInpItem hasAlign">
				<button id="saveBtn" class="layui-btn">保存槽车租卖信息</button>
			</div>
			
			
			
			<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
			<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
			<script type="text/javascript">
				var cardTitle = ["京", "沪", "津", "渝", "冀", "豫", "云", "辽", "黑", "湘", "鲁", "新", "苏",  "浙", "赣", "鄂", "桂", "甘", "晋", "蒙", "陕", "吉", "闽", "贵", "粤", "川", "青", "藏", "琼", "宁"];
				var cardWords = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
				var tmpProvNameArr = [],jjzzIdArr = [];
				var mainImgSucc = '', headXszSucc = '',gcXszSucc = '',clyxzSucc = '',cgHgzSucc = '',aqfjySucc = '';
				var globalOpts = parent.globalOpts,isRightCardNum = false,isRightDriveMile = false,isRightVolume = false,isRightPrice = false;
				var tmpDetImgArr = [];
				var ttId = parent.ttId,currPage = 'addEditTruckTradePage';
				layui.config({
					base: '/js/frame/js/'
				}).use(['layer','upload','form','laydate','basicInfo','address','uploadImg'],function(){
					var layer = layui.layer,form = layui.form,upload = layui.upload,laydate = layui.laydate,basicInfo=layui.basicInfo,uploadImg = layui.uploadImg;
					laydate.render({'elem':'#truckHeadTimeInp',trigger: 'click',type:'month'});
					laydate.render({'elem':'#truckBuyTime',trigger: 'click',type:'year'});
					//贸易类型radio
					form.on('radio(tradeTypeFilter)',function(data){
						$('#tradeTypeInp').val(data.value);
						if(data.value == 1){//租赁时显示运输范围 显示进港资质
							$('#transformArea').show();
							$('#jgzzWrap').show();
							basicInfo.getJgzz();
							basicInfo.loadProvList();
							$('#priceLableTxt').html('租赁价格');
						}else{
							$('#jgzzWrap').hide();
							$('#transformArea').hide();
							$('#priceLableTxt').html('买卖价格');
						}
						jjzzIdArr.length = 0;
						tmpProvNameArr.length = 0;
						form.render();
					})
					//企业类型radio
					form.on('radio(comTypeFilter)',function(data){
						$('#compTypeInp').val(data.value);
						var strPuhuo = '<input type="radio" value="1" name="truckTypeName" title="普货" lay-filter="truckTypeFilter"/>';
						var strWeihuo = '<input type="radio" value="2" name="truckTypeName" title="危货" lay-filter="truckTypeFilter"/>';
						if(data.value == 1){//个人
							//货车类型只有普货 不显示储罐信息和气源类型
							$('#truckTypeWrap').html(strPuhuo);
							$('#compNameWrap').hide();
						}else{//公司
							//货车类型 普货和危货
							$('#truckTypeWrap').html(strPuhuo + strWeihuo);
							$('#compNameWrap').show();
							basicInfo.getCompanyList();
						}
						$('#truckTypeInp').val('');
						$('#compNameInp').val(''); 
						page.initCleanAllWhImgSrc();
						form.render(); 
					})
					//货车类型radio
					form.on('radio(truckTypeFilter)',function(data){
						layer.load('1');
						$('#truckTypeInp').val(data.value);
						$('#truckTypeNameWrap').show();
						if(data.value == 1){//普货
							$('#gasTypeWrap').hide();
							$('.dangerItemWrap').hide();
							$('#truckNameTxt').html('普货车型');
						}else{//危货
							$('.dangerItemWrap').show();
							$('#gasTypeWrap').show();
							basicInfo.getZzjz();
							basicInfo.getTankBrand();
							$('#truckNameTxt').html('危货车型');
							laydate.render({'elem':'#potYearInp',trigger: 'click',type:'month'});
						}
						//执行加载对应车辆
						$('#truckTypeNameInp').val('');
						basicInfo.getTrucksByTruckType(data.value);
						$('#zzjzInp').val('');
						$('#tankBandInp').val('');
						$('#volumeInp').val('');
						$('#potYearInp').val('');
						page.initCleanAllWhImgSrc();
						form.render();
					})
					//车牌号码cartdTit 
					form.on('select(cardTitSel)',function(data){
						$('#cardTitInp').val(data.value);
					})
					//车牌号码cartdTit
					form.on('select(cardWordSel)',function(data){
						$('#cardWordsInp').val(data.value);
					})
					//是否发生事故
					form.on('radio(accidentFilter)',function(data){
						$('#accidentInp').val(data.value);
					})
					var page = {
						init : function(){
							this.bindEvent();
							this.uploadMainImg();
							this.upWeihuoImg();
							basicInfo.renderCardNumWords();
							uploadImg.uploadMultiImg('addDetImgBtn','detImgListUl',9);
							if(globalOpts == 'editBtn'){
								var _this = this;
								_this.loadTruckTradeInfo();
							}else{
								basicInfo.getTrucksHeadType();
								basicInfo.getTrucksHeadBrand();
								basicInfo.getWqpfbz();
								layui.address();
							}
						},
						loadTruckTradeInfo : function(){
							var field = {id:ttId,opt:3},_this = this;
							$.ajax({
							    type:"get",
								data : field,
							    dataType:"json",
							    url:"/trucksTrade/getSpecTrucksTrade",
							    success:function (json){
							    	layer.closeAll('loading');
									console.log(json)
									if(json.code == 200){
										_this.renderTruckTradeInfo(json.datas[0]);
									}else if(json.code == 1000){
										layer.msg('服务器错误');
									}else if(json.code == 10002){
										layer.msg('请求参数为空');
									}else if(json.code == 50001){
										layer.msg('当前槽车租卖信息不存在');
									}
							    }
							});
						},
						renderTruckTradeInfo : function(list){
							var tmpCompType = 0;
							var strPuhuo = '<input type="radio" value="1" name="truckTypeName" title="普货" lay-filter="truckTypeFilter"/>';
							var strWeihuo = '<input type="radio" value="2" name="truckTypeName" title="危货" lay-filter="truckTypeFilter"/>';
							var strTruckType = '',strTruckHeadType='<option value="">请选择车头类型</option>',strTruckHeadBrand='<option value="">请选择车头品牌</option>';
							var strPotPp = '<option value="">请选择储罐品牌</option>',strWqPfBz='<option value="">请选择尾气排放标准</option>',strZzJz='<option value="">请选择装载介质</option>',strComp='<option value="">请选择公司</option>';
							isRightCardNum = true;
							isRightDriveMile = true;
							isRightPrice = true;
							var trucksNo = list.trucksNo;
							$('#tradeTypeInp').val(list.tradeType);
							mainImgSucc = list.mainImg.replace('_small','');
							$('#thubImg_main').show().attr('src','../' + list.mainImg);
							$('.viewMainBigImg').show();
							$('input[name=tradeTypeName]').each(function(i){
								if($('input[name=tradeTypeName]').eq(i).val() == list.tradeType){
									$('input[name=tradeTypeName]').eq(i).attr('checked',true);
								}
							});
							if(list.tradeType == 1){
								$('#priceLableTxt').html('租赁价格');
								$('#transformArea').show();
								$('#jgzzWrap').show();
								tmpProvNameArr = list.area.split(',');
								var strYsArea = '',strJgZz = '';
								for(var i=0;i<list.ysAreaList.length;i++){
									if(list.ysAreaList[i].selFlag){
										strYsArea += '<input type="checkbox" name="areaInp" lay-filter="areaFilter" title="'+ list.ysAreaList[i].provName +'" value="'+ list.ysAreaList[i].provName +'" lay-skin="primary" checked/>';
									}else{
										strYsArea += '<input type="checkbox" name="areaInp" lay-filter="areaFilter" title="'+ list.ysAreaList[i].provName +'" value="'+ list.ysAreaList[i].provName +'" lay-skin="primary">';
									}
								}
								$('#provList').html(strYsArea);
								
								for(var i=0;i<list.qfList.length;i++){
									if(list.qfList[i].selFlag){
										strJgZz += '<input type="checkbox" name="jjzzInpName" lay-filter="jjzzFilter" title="'+ list.qfList[i].qualName +'" value="'+ list.qfList[i].qualId +'" lay-skin="primary" checked/>';
									}else{
										strJgZz += '<input type="checkbox" name="jjzzInpName" lay-filter="jjzzFilter" title="'+ list.qfList[i].qualName +'" value="'+ list.qfList[i].qualId +'" lay-skin="primary">';
									}
								}
								$('#jgzzList').html(strJgZz);
							}else if(list.tradeType == 2){
								$('#priceLableTxt').html('买卖价格');
							}
							if(list.companyId != ''){
								tmpCompType = 2;
								$('#compTypeInp').val(2);
								$('#compNameWrap').show();
								$('#compNameInp').val(list.companyId);
								$('#truckTypeWrap').html(strPuhuo + strWeihuo);
								for(var i=0;i<list.cpyList.length;i++){
									if(list.cpyList[i].selFlag){
										strComp += '<option value="'+ list.cpyList[i].cpyId +'" selected>'+ list.cpyList[i].cpyName +'</option>';
									}else{
										strComp += '<option value="'+ list.cpyList[i].cpyId +'">'+ list.cpyList[i].cpyName +'</option>';
									}
								}
								$('#compNameSel').html(strComp);
							}else{
								tmpCompType = 1;
								$('#compTypeInp').val(1);
								$('#truckTypeWrap').html(strPuhuo);
							}
							//企业类型
							$('input[name=compTypeName]').each(function(i){
								if($('input[name=compTypeName]').eq(i).val() == tmpCompType){
									$('input[name=compTypeName]').eq(i).attr('checked',true);
								}
							});
							$('#truckTypeNameWrap').show();
							$('input[name=truckTypeName]').each(function(i){
								if($('input[name=truckTypeName]').eq(i).val() == list.trucksTypes){
									$('input[name=truckTypeName]').eq(i).attr('checked',true);
								}
							});
							$('#truckTypeInp').val(list.trucksTypes);
							if(list.trucksTypes == 1){//普货
								$('#truckNameTxt').html('普货车型');
								strTruckType = '<option value="">请选择普货车辆类型</option>';
							}else if(list.trucksTypes == 2){//危货
								strTruckType = '<option value="">请选择危货车辆类型</option>';
								isRightVolume = true;
								laydate.render({'elem':'#potYearInp',trigger: 'click',type:'month'});
								$('#truckNameTxt').html('危货车型');
								$('.dangerItemWrap').show();
								$('#gasTypeWrap').show();
								$('#zzjzInp').val(list.zzjzTypeId);
								$('#tankBandInp').val(list.potPpId);
								for(var i=0;i<list.pptPpList.length;i++){
									if(list.pptPpList[i].selFlag){
										strPotPp += '<option value="'+ list.pptPpList[i].potPpId +'" selected>'+ list.pptPpList[i].potPpName +'</option>';
									}else{
										strPotPp += '<option value="'+ list.pptPpList[i].potPpId +'">'+ list.pptPpList[i].potPpName +'</option>';
									}
								}
								$('#tankBandSel').html(strPotPp);
								for(var i=0;i<list.zzjzList.length;i++){
									if(list.zzjzList[i].selFlag){
										strZzJz += '<option value="'+ list.zzjzList[i].zzjzTypeId +'" selected>'+ list.zzjzList[i].zzjzTypeName +'</option>';
									}else{
										strZzJz += '<option value="'+ list.zzjzList[i].zzjzTypeId +'">'+ list.zzjzList[i].zzjzTypeName +'</option>';
									}
								}
								$('#zzjzSel').html(strZzJz);
								$('#volumeInp').val(list.potVol);
								$('#potYearInp').val(list.spYearPot);
								headXszSucc = list.tructsHeadxsz.replace('_small','');
								gcXszSucc = list.gcXsz.replace('_small','');
								clyxzSucc = list.tructsYyz.replace('_small','');
								cgHgzSucc = list.potjyz.replace('_small','');
								aqfjySucc = list.aqfBg.replace('_small','');
								
								$('#thubImg_headXsz').show().attr('src','../' + list.tructsHeadxsz);
								$('#viewBigImg_headXsz').show();
								
								$('#thubImg_gcXsz').show().attr('src','../' + list.gcXsz);
								$('#viewBigImg_gcXsz').show();
								
								$('#thubImg_yyz').show().attr('src','../' + list.tructsYyz);
								$('#viewBigImg_yyz').show();
								
								$('#thubImg_jyz').show().attr('src','../' + list.potjyz);
								$('#viewBigImg_jyz').show();
								
								$('#thubImg_aqf').show().attr('src','../' + list.aqfBg);
								$('#viewBigImg_aqf').show();
								
							}
							$('#truckTypeNameInp').val(list.trucksTypeId);
							for(var i=0;i<list.trucksTypeList.length;i++){
								if(list.trucksTypeList[i].selFlag){
									strTruckType += '<option value="'+ list.trucksTypeList[i].trucksTypeId +'" selected>'+ list.trucksTypeList[i].trucksTypeName +'</option>';
								}else{
									strTruckType += '<option value="'+ list.trucksTypeList[i].trucksTypeId +'">'+ list.trucksTypeList[i].trucksTypeName +'</option>';
								}
							}
							$('#truckTypeNameSel').html(strTruckType);
							$('#provInp').val(list.regPlace.split('-')[0]);
							$('#cityInp').val(list.regPlace.split('-')[1]);
							provVal = list.regPlace.split('-')[0];
							cityVal = list.regPlace.split('-')[1];
							$('#cardTitInp').val(trucksNo.substr(0,1));
							$('#cardWordsInp').val(list.trucksNo.substr(1,1));
							$('#cardNumInp').val(list.trucksNo.substr(2,5));
							
							$('#cardTitSel option').each(function(i){
								if($('#cardTitSel option').eq(i).val() == trucksNo.substr(0,1)){
									$('#cardTitSel option').eq(i).attr('selected','selected');
								}
							});
							$('#cardWordSel option').each(function(i){
								if($('#cardWordSel option').eq(i).val() == trucksNo.substr(1,1)){
									$('#cardWordSel option').eq(i).attr('selected','selected');
								}
							});
							$('#truckBuyTime').val(list.buyYear);
							$('#truckHeadTimeInp').val(list.spYear);
							$('#priceNumInp').val(list.price);
							$('#truckHeadTypeInp').val(list.headTypeId);
							for(var i=0;i<list.headTypeList.length;i++){
								if(list.headTypeList[i].selFlag){
									strTruckHeadType += '<option value="'+ list.headTypeList[i].headTypeId +'" selected>'+ list.headTypeList[i].headTypeName +'</option>';
								}else{
									strTruckHeadType += '<option value="'+ list.headTypeList[i].headTypeId +'">'+ list.headTypeList[i].headTypeName +'</option>';
								}
							}
							$('#truckHeadTypeSel').html(strTruckHeadType);
							$('#truckHeadBrandInp').val(list.headPpId);
							for(var i=0;i<list.headPpList.length;i++){
								if(list.headPpList[i].selFlag){
									strTruckHeadBrand += '<option value="'+ list.headPpList[i].headPpId +'" selected>'+ list.headPpList[i].headPpName +'</option>';
								}else{
									strTruckHeadBrand += '<option value="'+ list.headPpList[i].headPpId +'">'+ list.headPpList[i].headPpName +'</option>';
								}
							}
							$('#truckHeadBrandSel').html(strTruckHeadBrand);
							$('#driveMileInp').val(list.xsDistance);
							$('#accidentInp').val(list.accidentFlag);
							$('input[name=accidentInpName]').each(function(i){
								if($('input[name=accidentInpName]').eq(i).val() == list.accidentFlag){
									$('input[name=accidentInpName]').eq(i).attr('checked',true);
								}
							});
							$('#lxrNameInp').val(list.lxName);
							$('#lxrTel').val(list.lxTel);
							$('#wxpfbzInp').val(list.pfbzId);
							for(var i=0;i<list.pfbzList.length;i++){
								if(list.pfbzList[i].selFlag){
									strWqPfBz += '<option value="'+ list.pfbzList[i].pfbzId +'" selected>'+ list.pfbzList[i].pfbzName +'</option>';
								}else{
									strWqPfBz += '<option value="'+ list.pfbzList[i].pfbzId +'">'+ list.pfbzList[i].pfbzName +'</option>';
								}
							}
							$('#wqpfbzSel').html(strWqPfBz);
							$('#remark').val(list.remark);
							if(list.zzlist.length > 0){
								var str = '';
								hasUpNum = list.zzlist.length;
								var tmpDetBigImg = [];
								if(list.zzlist.length == 9){
									$('#addDetImgBtn').hide();
								}
								for(var i=0;i<list.zzlist.length;i++){
									tmpDetBigImg.push( list.zzlist[i].ttImg.replace('_small','') );
									str += '<li><input type="hidden" name="detImgInp" value="'+ tmpDetBigImg[i] +'"/><a href="javascript:void(0)" onclick="deleteImg(this)" title="删除"><i class="layui-icon layui-icon-delete"></i></a><img src="../' + list.zzlist[i].ttImg + '"/><span onclick=viewBigImg(\''+ tmpDetBigImg[i] +'\')>查看原图</span></li>';
								}
								$('#detImgListUl').html(str);
								
							}
							form.render();
							layui.address();
						},
						uploadMainImg : function(){
							upload.render({
							    elem: '#addImgBtn_main'
							    ,url: '/upload/uploadSingle'
								,method : 'post'
							    ,accept : 'images'
								,auto: true
								,before: function(obj){
									layer.load();
							    }
							    ,done: function(res){
									layer.closeAll('loading');
								    $('#thubImg_main').show().attr('src','/tempImg/' + res.datas);
								    $('.viewMainBigImg').show();
								    mainImgSucc = res.datas;
							    }
							});
						},
						upWeihuoImg : function(){
							$('.addImgBtn').each(function(i){
								var id = $('.addImgBtn').eq(i).attr('id');
								var idBehind = $('.addImgBtn').eq(i).attr('id').split('_')[1];
								upload.render({
								    elem: '#'+id
								    ,url: '/upload/uploadSingle'
									,method : 'post'
								    ,accept : 'images'
									,auto: true
									,before: function(obj){
										layer.load();
								    }
								    ,done: function(res){
										layer.closeAll('loading');
									    $('#thubImg_' + idBehind).show().attr('src','/tempImg/' + res.datas);
										$('#viewBigImg_' + idBehind).show();
										if(idBehind == 'headXsz'){
											headXszSucc = res.datas;
										}else if(idBehind == 'gcXsz'){
											gcXszSucc = res.datas;
										}else if(idBehind == 'yyz'){
											clyxzSucc = res.datas;
										}else if(idBehind == 'jyz'){
											cgHgzSucc = res.datas;
										}else if(idBehind == 'aqf'){
											aqfjySucc = res.datas;
										}
								    }
								});
							});
						},
						initCleanAllWhImgSrc : function(){
							headXszSucc = '';gcXszSucc = '';clyxzSucc = '';cgHgzSucc = '';aqfjySucc = '';
							$('.addImgBtn').each(function(i){
								$('.addImgBtn').eq(i).find('img').attr('src','').hide();
								$('.viewBigImg').eq(i).hide();
								$('.addImgBtn').eq(i).find('i').show();
							});
						},
						viewOriginImg : function(succUrl){
							if(globalOpts == 'addBtn'){
								window.open('/tempImg/' + succUrl);
							}else{
								window.open('../' + succUrl);
							}
						},
						bindEvent : function(){
							var _this = this;
							$('.viewMainBigImg').on('click',function(){
								_this.viewOriginImg(mainImgSucc);
							});
							$('.viewBigImg').on('click',function(){
								var idBehind = $(this).attr('id').split('_')[1];
								if(idBehind == 'headXsz'){
									_this.viewOriginImg(headXszSucc);
								}else if(idBehind == 'gcXsz'){
									_this.viewOriginImg(gcXszSucc);
								}else if(idBehind == 'yyz'){
									_this.viewOriginImg(clyxzSucc);
								}else if(idBehind == 'jyz'){
									_this.viewOriginImg(cgHgzSucc);
								}else if(idBehind == 'aqf'){
									_this.viewOriginImg(aqfjySucc);
								}
							});
							$('#cardNumInp').blur(function(){
								var reg =  /^[0-9a-zA-Z]+$/;
								if($(this).val() != ''){
									if(!reg.test( $.trim($(this).val()) )){
										layer.msg('车牌号码应由数字和字母构成，不能含有其他特殊字符');
										isRightCardNum = false;
									}else if($(this).val().length != 5){
										layer.msg('车牌号码长度应是5位');
										isRightCardNum = false;
									}else{
										isRightCardNum = true;
										$(this).val( $(this).val().toUpperCase() );
									}
								}
							});
							$('#driveMileInp').on('blur',function(){
								var regNum = /^\+?[1-9]\d*$/;
								if($(this).val() != ''){
									if(!regNum.test( $.trim($(this).val()) )){
										layer.msg('行驶里程应是大于0的正整数');
										isRightDriveMile = false;
									}else{
										isRightDriveMile = true;
									}
								}
							});
							$('#volumeInp').on('blur',function(){
								var regNum = /^\+?[1-9]\d*$/;
								if($(this).val() != ''){
									if(!regNum.test( $.trim($(this).val()) )){
										layer.msg('储罐容积是大于0的正整数');
										isRightVolume = false;
									}else{
										isRightVolume = true;
									}
								}
							});
							$('#priceNumInp').on('blur',function(){
								var regNum = /^(0|[1-9][0-9]*)$/;
								if($(this).val() != ''){
									if(!regNum.test( $.trim($(this).val()) )){
										layer.msg('买卖/租赁价格应是大于等于0的正整数');
										isRightPrice = false;
									}else{
										isRightPrice = true;
									}
								}
							});
							$('#saveBtn').on('click',function(){
								var tradeTypeInp = $('#tradeTypeInp').val(),
									compTypeInp = $('#compTypeInp').val(),
									truckTypeInp = $('#truckTypeInp').val(),
									truckTypeNameInp = $('#truckTypeNameInp').val(),
									compNameInp = $('#compNameInp').val(),
									provInp = $('#provInp').val(),
									cityInp = $('#cityInp').val(),
									cardTitInp = $('#cardTitInp').val(),
									
									cardWordsInp = $('#cardWordsInp').val(),
									cardNumInp = $.trim($('#cardNumInp').val()),
									truckHeadTimeInp = $('#truckHeadTimeInp').val(),
									truckBuyTime = $('#truckBuyTime').val(),
									priceNumInp = $('#priceNumInp').val(),
									
									truckHeadTypeInp = $('#truckHeadTypeInp').val(),
									truckHeadBrandInp = $('#truckHeadBrandInp').val(),
									tankBandInp = $('#tankBandInp').val(),
									volumeInp = $.trim($('#volumeInp').val()),
									potYearInp = $('#potYearInp').val(),
									driveMileInp = $.trim($('#driveMileInp').val()),
									accidentInp = $('#accidentInp').val(),
									
									lxrNameInp = $.trim($('#lxrNameInp').val()),
									lxrTel = $.trim($('#lxrTel').val()),
									wxpfbzInp = $('#wxpfbzInp').val(),
									zzjzInp = $('#zzjzInp').val(),
									remark = $.trim($('#remark').val()),
									regPhone = /^1\d{10}$/,detImgInpLen = $('input[name=detImgInp]').length,imgDetStr='',jgzzStr='';
									
								if(tradeTypeInp == ''){
									layer.msg('请选择贸易类型');
								}else if(compTypeInp == ''){
									layer.msg('请选择企业类型');
								}else if(truckTypeInp == ''){
									layer.msg('请选择货车类型');
								}else if(truckTypeNameInp == ''){
									layer.msg('请选择货车类型对应车辆类型');
								}else if(compTypeInp == 2 && compNameInp == ''){
									layer.msg('请选择公司');
								}else if(mainImgSucc == ''){
									layer.msg('请上传车辆主图');
								}else if(provInp == ''){
									layer.msg('请选择车辆注册地(省份)');
								}else if(cityInp == ''){
									layer.msg('请选择车辆注册地(市区)');
								}else if(cardNumInp == ''){
									layer.msg('请输入车牌号码');
								}else if(isRightCardNum == false){
									layer.msg('车牌号码应由数字和字母构成，不能含有其他特殊字符');
								}else if(truckBuyTime == ''){
									layer.msg('请选择车辆购置年份');
								}else if(truckHeadTimeInp == ''){
									layer.msg('请选择车头上牌年月');
								}else if(priceNumInp == ''){
									layer.msg('请输入租赁/买卖价格');
								}else if(isRightPrice == false){
									layer.msg('买卖/租赁价格应是大于等于0的正整数');
								}else if(truckHeadTypeInp == ''){
									layer.msg('请选择车头类型');
								}else if(truckHeadBrandInp == ''){
									layer.msg('请选择车头品牌');
								}else if(truckTypeInp == 2 && tankBandInp == ''){
									layer.msg('请选择储罐品牌');
								}else if(truckTypeInp == 2 && volumeInp == ''){
									layer.msg('请输入储罐容积');
								}else if(truckTypeInp == 2 && isRightVolume == false){
									layer.msg('储罐容积是大于0的正整数');
								}else if(truckTypeInp == 2 && potYearInp == ''){
									layer.msg('请选择储罐上牌年月');
								}else if(tradeTypeInp == 1 && jjzzIdArr.length == 0){
									layer.msg('请选择进港资质');
								}else if(driveMileInp == ''){
									layer.msg('请输入行驶里程数(公里)');
								}else if(isRightDriveMile == false){
									layer.msg('行驶里程应是大于0的正整数');
								}else if(accidentInp == ''){
									layer.msg('请选择是否发生事故');
								}else if(lxrNameInp == ''){
									layer.msg('请输入联系人姓名');
								}else if(lxrTel == ''){
									layer.msg('请输入联系人手机号码');
								}else if(!regPhone.test(lxrTel) && lxrTel.length != 11){
									layer.msg('手机号码格式不对，请重新填写');
								}else if(tradeTypeInp == 1 && tmpProvNameArr.length == 0){//租赁
									layer.msg('请选择运输范围');
								}else if(tradeTypeInp == 1 && tmpProvNameArr.length > 5){
									layer.msg('运输范围最多只能选择5个地区');
								}else if(wxpfbzInp == ''){
									layer.msg('请选择尾气排放标准');
								}else if(truckTypeInp == 2 && zzjzInp == ''){
									layer.msg('请选择装载介质');
								}else if(truckTypeInp == 2 && headXszSucc == ''){
									layer.msg('请上传车头行驶证');
								}else if(truckTypeInp == 2 && gcXszSucc == ''){
									layer.msg('请上传罐车行驶证');
								}else if(truckTypeInp == 2 && clyxzSucc == ''){
									layer.msg('请上传车辆运营证');
								}else if(truckTypeInp == 2 && cgHgzSucc == ''){
									layer.msg('请上传储罐检验合格证');
								}else if(truckTypeInp == 2 && aqfjySucc == ''){
									layer.msg('请上传安全阀校验报告');
								}else{
									var cardNum = cardTitInp + cardWordsInp + cardNumInp;
									var area = tmpProvNameArr.join(',');
									var signPlace = $('#provInp').val() + '-' + $('#cityInp').val();
									var url = '',type = '';
									var index= parent.layer.getFrameIndex(window.name);
									jgzzStr = jjzzIdArr.join(',');
									tmpDetImgArr.length = 0;
									if(detImgInpLen > 0){
										$('input[name=detImgInp]').each(function(i){
											tmpDetImgArr.push($('input[name=detImgInp]').eq(i).val());
										});
										imgDetStr = tmpDetImgArr.join(',');
									}
									var field = {tradeType:tradeTypeInp,compId:compNameInp,trucksTypeId:truckTypeNameInp,mainImg:mainImgSucc,trucksNo:cardNum,
												spYear:truckHeadTimeInp,buyYear:truckBuyTime,headTypeId:truckHeadTypeInp,headPpId:truckHeadBrandInp,
												xsDistance:driveMileInp,wqpfbzId:wxpfbzInp,potPpId:tankBandInp,potVol:volumeInp,spYearPot:potYearInp,
												lxName:lxrNameInp,lxTel:lxrTel,area:area,zzjzTypeId:zzjzInp,remark:remark,accidentFlag:accidentInp,
												tructsHeadxsz:headXszSucc,gcXsz:gcXszSucc,tructsYyz:clyxzSucc,potJyz:cgHgzSucc,aqfbg:aqfjySucc,qualId:jgzzStr,regPlace:signPlace,ttImg:imgDetStr,price:priceNumInp};
									if(globalOpts == 'addBtn'){
										url = '/trucksTrade/addTrucksTrade';
										type = 'post';
									}else if(globalOpts == 'editBtn'){
										var editField ={id:ttId};
										field = Object.assign(field,editField);
										url = '/trucksTrade/updateTrucksTrade';
										type = 'put';
									}
									//console.log(JSON.stringify(field))
									layer.load('1');
									$.ajax({
									    type:type,
										data : field,
									    dataType:"json",
									    url:url,
									    success:function (json){
									    	layer.closeAll('loading');
											if(json.code == 200){
												var title = globalOpts == 'addBtn' ? '添加槽车租卖信息成功' : '编辑槽车租卖信息成功';
												layer.msg(title,{icon:1,time:1200},function(){
													parent.addEditFlag = true;
													parent.layer.close(index);
												});
											}else if(json.code == 1000){
												layer.msg('服务器错误');
											}else if(json.code == 50001){
												layer.msg('当前槽车租卖信息不存在');
											}else if(json.code == 70001){
												layer.msg('抱歉，您暂无对槽车租卖添加或编辑的权限');
											}else if(json.code == 80001){
												layer.msg('当前槽车租卖信息审核已通过，暂不能修改');
											}
									    }
									});
								}
							});
						}
					};
					page.init();
					
				});
				
			</script>
		</div>
	</body>
</html>
