<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link href="../js/ueditor/themes/default/css/ueditor.min.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/addEditTruckTrade.css"/>
		<title>添加/编辑新闻资讯</title>
	</head>
	<body>
		<div class="truckTradeWrap layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label"><span class="mustItem">*</span>新闻标题</label>
				<div class="layui-input-block comInpItem">
					<input id="newsTit" type="text" placeholder="请输入新闻标题(50字内)" class="layui-input" autocomplete="off" maxlength="50"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span class="mustItem">*</span>新闻内容</label>
				<div class="layui-input-block comInpItem">
					<div id="newsEditor"></div>
				</div>
			</div>
			
			<div class="layui-form-item comInpItem hasAlign">
				<button id="saveBtn" class="layui-btn">保存新闻资讯</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/ueditor/ueditor.config.js"></script>
		<script src="../js/ueditor/ueditor.all.min.js"></script>
		<script type="text/javascript">
			var globalOpts = parent.globalOpts;
			layui.use(['layer','form'],function(){
				var layer = layui.layer,form = layui.form;
				var page = {
					initUeditor : function(id){
						UE.getEditor(id,{
							initialFrameWidth : '100%',
							initialFrameHeight : 400,
							wordCount:true,
							textarea : 'description'
						});
					},
					initUeditorContent : function(obj,content){
						UE.getEditor(obj).addListener("ready", function () {
							// editor准备好之后才可以使用
							UE.getEditor(obj).setContent(content,null);
						});
					},
					init : function(){
						this.bindEvent();
						if(globalOpts == 'editBtn'){
							var _this = this;
							this.loadNewsCon();
						}
						UE.delEditor('newsEditor');
						this.initUeditor('newsEditor');//初始化富文本
					},
					loadNewsCon : function(){
						var _this = this;
						layer.load('1');
						$.ajax({
						    type:"get",
							data : {id:parent.newsId},
						    dataType:"json",
						    url:'/MsgCenter/getSpecMsgDetail',
						    success:function (json){
						    	layer.closeAll('loading');
								if(json.code == 200){
									$('#newsTit').val(json.datas[0].title);
									_this.initUeditorContent('newsEditor',json.datas[0].content);
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 50001){
									layer.msg('当前新闻资讯不存在');
								}
						    }
						});
					},
					bindEvent : function(){
						$('#saveBtn').on('click',function(){
							var newsTit = $.trim($('#newsTit').val()),
								currUeEditCon = UE.getEditor('newsEditor').getContent(),
								index = parent.layer.getFrameIndex(window.name),url = '',field = null,type = '';
							if(newsTit == ''){
								layer.msg('请输入新闻标题');
								return;
							}
							if(currUeEditCon == ''){
								layer.msg('请输入新闻内容');
								return;
							}
							layer.load('1');
							if(globalOpts == 'addBtn'){
								url = '/MsgCenter/sendMessage';
								field = { title:newsTit,content:currUeEditCon,msgType:1};
								type = 'post'
							}else{
								url = '/MsgCenter/updateDetailById';
								field = {id:parent.newsId,title:newsTit,content:currUeEditCon};
								type = 'put'
							}
							$.ajax({
							    type:type,
								data : field,
							    dataType:"json",
							    url:url,
							    success:function (json){
							    	layer.closeAll('loading');
									if(json.code == 200){
										var title = globalOpts == 'addBtn' ? '添加新闻资讯成功' : '编辑新闻资讯成功';
										layer.msg(title,{icon:1,time:1000},function(){
											parent.addEditFlag = true;
											parent.newsId = 0;
											parent.layer.close(index);
										});
									}else if(json.code == 1000){
										layer.msg('服务器错误');
									}else if(json.code == 70001){
										layer.msg('抱歉，您暂无对新闻资讯添加或编辑的权限');
									}
							    }
							});
						});
					}
				};
				page.init();
			});
		</script>
	</body>
</html>
