<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/compManager.css"/>
		<link rel="stylesheet" type="text/css" href="../js/pace/pace-theme-flash.min.css"/>
		<script src="../js/pace/pace.min.js" type="text/javascript" charset="utf-8"></script>
		<title>储罐租卖列表</title>
	</head>
	<body style="background:#f2f2f2;">
		<div class="layui-fluid" style="margin-top:15px;">
			<div class="layui-row">
				<div class="layui-card">
					<div class="layui-card-header posRel">
						<span class="itemDivs">储罐租卖管理</span>
						<a id="addTruckTrade" class="posAbs newAddBtn" href="javascript:void(0)"><i class="layui-icon layui-icon-add-circle"></i>添加储罐租卖</a>
					</div>
					<div class="layui-card-body">
						<input type="hidden" id="checkStaInp" value="-1" />
						<div class="filterWrap layui-form layui-clear" style="margin-bottom: 20px;margin-top: 10px;">
							<div class="filterItem" style="margin-right: 5px;">
								<input type="radio" name="validStatus" value="0" title="未审核" lay-filter="checkStaFilter" checked/>
								<input type="radio" name="validStatus" value="1" title="审核通过" lay-filter="checkStaFilter"/>
								<input type="radio" name="validStatus" value="2" title="审核未通过" lay-filter="checkStaFilter"/>
							</div>
							<div class="filterItemSel layui-form" style="width: 140px;">
								<input type="hidden" id="tankBandInp"/>
								<select id="tankBandSel" lay-filter="tankBandSel">
									<option value="">请选择储罐品牌</option>
								</select>
							</div>
							<div class="filterItemSel layui-form" style="width: 110px;">
								<select id="sxInfoSel" lay-filter="sxInfoSel">
									<option value="1">有手续</option>
									<option value="2">无手续</option>
								</select>
							</div>
							<div class="filterItemSel layui-form" style="width: 150px;">
								<select id="zzjzSel" lay-filter="zzjzSel">
									<option value="">请选择装载介质</option>
								</select>
							</div>
							<div class="filterItem">
								<button id="queryBtn" class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
							</div>
							<div class="filterItem">
								<p>
									<span class="currStaSpan passBg"></span>
									<span>表示审核通过</span>
								</p> 
								<p>
									<span class="currStaSpan noPassBg"></span>
									<span>表示审核未通过</span>
								</p>
							</div>
						</div>
						<table id="truckTradeTab" class="layui-table" lay-filter="truckTradeTab"></table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var potPpId = '',potVol = '',sxInfo=1,zzjzTypeId='',checkFlag = false,compId = '',checkSta='',globalOpts = '',addEditFlag = false,compName='',currPage='compListPage';
			layui.config({
				base: '/js/frame/js/'
			}).use(['layer','table','form','basicInfo'],function(){
				var layer = layui.layer,table = layui.table,form = layui.form,basicInfo = layui.basicInfo;
				form.on('select(tankBandSel)',function(data){
					data.value == '' ? $('#tankBandInp').val('') : $('#tankBandInp').val(data.value);
					page.loadPotTradeList();
				});
				form.on('select(sxInfoSel)',function(data){
					sxInfo = data.value;
				});
				var page = {
					init : function(){
						this.bindEvent();
						basicInfo.getTankBrand();
						this.loadPotTradeList();
					},
					bindEvent : function(){
						var _this = this;
						$('#addTruckTrade').on('click',function(){
							globalOpts = 'addBtn';
							_this.commonLayer();
						});
					},
					commonLayer : function(){
						addEditFlag = true;
						var fullScreenIndex = layer.open({
							title : '添加储罐租卖',
							type: 2,
							closeBtn: 1, //不显示关闭按钮
							area : ['500px','300px'],
							content: '../potTrade/addEditPotTrade.html',
							end : function(){
								if(addEditFlag){
									//page.loadCompList();
								}
							},
							cancel: function () {
								addEditFlag = false;
							}
						});
						layer.full(fullScreenIndex);
					},
					loadPotTradeList : function(){
						var _this = this;
						layer.load();
						var checkStaInp = $('#checkStaInp').val(),
							tankBandInp = $('#tankBandInp').val();
						var field = {potPpId:tankBandInp,potVol:potVol,sxInfo:sxInfo,zzjzTypeId:zzjzTypeId,checkSta:checkStaInp};
						table.render({
							elem: '#truckTradeTab',
							height: 'full-200',
							url : '/potTrade/queryPotTrade',
							method : 'get',
							parseData : function(res){
								return {
									"code" : 0,
									"data" : res.datas,
									"count":res.count
								}
							},
							where:field,
							page : true,
							limit:20,
							even : true,
							text: {none : '暂无相关数据'},
							limits:[10,20,30,40],
							cols : [
								[
									{field : '', title: '序号',type:'numbers', align:'center'},
									{field : 'tradeType', title: '贸易类型',width:'120',align:'center',templet:function(d){
										return d.tradeType == 1 ? '租赁' : '买卖';
									}},
									{field : 'trucksNo', title: '槽车车牌号',width:'150',align:'center'},
									{field : 'trucksType', title: '槽车类型',width:'120',align:'center',templet:function(d){
										return d.trucksType.name;
									}},
									{field : 'spYear', title: '车头上牌日期',width:'150',align:'center'},
									{field : 'trucksHeadType', title: '车头类型',width:'150',align:'center',templet : function(d){
										return d.trucksHeadType.name;
									}},
									{field : 'trucksHeadPp', title: '车头品牌',width:'120',align:'center',templet:function(d){
										return d.trucksHeadPp.name;
									}},
									{field : 'xsDistance', title: '行驶里程(公里)',width:'140',align:'center'},
									{field : 'wqPfbz', title: '尾气排放标准',width:'120',align:'center',templet:function(d){
										return d.wqPfbz.name;
									}}
									// {field : 'potPpId', title: '储罐品牌',width:'120',align:'center'},
									// {field : 'bankName', title: '公司银行名称',width:'180',align:'center'},
									// {field : 'bankAccount', title: '公司银行账户',width:'180',align:'center'},
									// {field : 'bankNo', title: '公司银行账号',width:'220',align:'center'},
									// {field : 'addTime', title: '公司注册平台时间',width:'220',align:'center'},
									// {field : '', title: '操作', fixed: 'right',width:'120', align:'center'}
								]
							],
							done : function(res, curr, count){
								console.log(res)
								layer.closeAll('loading');
							}
						});
					}
				};
				page.init();
			});
		</script>
		
	</body>
</html>
