<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/jgzz.css"/>
		<link rel="stylesheet" type="text/css" href="../js/pace/pace-theme-flash.min.css"/>
		<script src="../js/pace/pace.min.js" type="text/javascript" charset="utf-8"></script>
		<title>lng行情管理</title>
		<style>
			.layui-table-cell{
				height:24px;
				line-height:24px;
			}
		</style>
	</head>
	<body style="background:#f2f2f2;">
		<div class="layui-fluid" style="margin-top:15px;">
			<div class="layui-row">
				<div class="layui-card">
					<!-- <div class="layui-card-header posRel">
						<span class="itemDivs">lng行情管理</span>
					</div> -->
					<div class="layui-card-body">
						<div class="filter layui-clear">
							<div class="filterItem" style="width: 160px;">
								<div class="layui-input-inline" style="width: 160px;">
									<input id="provPyInp" type="text" class="layui-input" placeholder="请输入省拼音码" autocomplete="off"/>
									<a class="clearBtn clearProvBtn" href="javascript:void(0)" title="清空"><i class="layui-icon layui-icon-close"></i></a>
								</div>
							</div>
							<div class="filterItem" style="width: 160px;">
								<div class="layui-input-inline posRel" style="width: 160px;">
									<input id="ycPyInp" type="text" class="layui-input" placeholder="请输入液厂拼音码" autocomplete="off"/>
									<a class="clearBtn clearYcPyBtn" href="javascript:void(0)" title="清空"><i class="layui-icon layui-icon-close"></i></a>
								</div>
							</div>
							<div class="filterItem" style="width: 160px;">
								<input type="hidden" id="lqTypeInp" />
								<div class="layui-input-inline layui-form">
									<select id="lqTypeSel" lay-filter="lqTypeSel"> 
										<option value="">请选择液质类型</option>
								     </select>
								</div>
							</div>
							
							<div class="filterItem_spec" style="float:left;margin-right:15px;">
								<div class="layui-input-inline" style="width:130px;">
									 <input id="lngDateInp" type="text" placeholder="请选择时间" readonly class="layui-input"/>
								</div>
							</div>
							
							<div class="filterItem">
								<div class="layui-input-inline">
									<button id="queryBtn" class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
								</div>
							</div>
							
						</div>
						<table id="lngTable" class="layui-table" lay-filter="lngTable"></table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var prevDate = '',currDate = '',nextDate = '',remarkTxt;
			layui.use(['layer','table','form','laydate'],function(){
				var layer = layui.layer,form = layui.form,table=layui.table,laydate=layui.laydate;
				laydate.render({'elem':'#lngDateInp',done: function(value){
					if(value == ''){
						var date = new Date()
						value = date.getFullYear()+"-" + (date.getMonth()+1) + "-" + date.getDate()
					}
					currDate = value;
					remarkTxt = value + '(备注)';
					prevDate = page.selDateCalDate(value,-1)
					nextDate = page.selDateCalDate(value,+1);
					page.loadLngData();
				}});
				form.on('select(lqTypeSel)',function(data){
					data.value == '' ? $('#lqTypeInp').val('') : $('#lqTypeInp').val(data.value);
					page.loadLngData();
				});
				var page = {
					init : function(){
						this.loadLqTypeData();
						this.bindEvent();
						this.calDate();
						$('#lngDateInp').val(currDate);
					},
					//计算日期
					calDate : function(value){
						var date = new Date(),prevDay = new Date(),nextDay = new Date();
						currDate = date.getFullYear()+"-" + (date.getMonth()+1) + "-" + date.getDate();
						prevDay.setTime(date.getTime()-24*60*60*1000);
						nextDay.setTime(date.getTime()+24*60*60*1000);
						prevDate = prevDay.getFullYear()+"-" + (prevDay.getMonth()+1) + "-" + prevDay.getDate();
						nextDate = nextDay.getFullYear()+"-" + (nextDay.getMonth()+1) + "-" + nextDay.getDate();
						remarkTxt = currDate + '(备注)';
						this.loadLngData();
					},
					bindEvent : function(){
						var _this = this;
						$('#queryBtn').on('click',function(){
							_this.loadLngData();
						});
						$('.clearYcPyBtn').on('click',function(){
							$('#ycPyInp').val('');
							_this.loadLngData();
						});
						$('.clearProvBtn').on('click',function(){
							$('#provPyInp').val('');
							_this.loadLngData();
						});
						
						$('#provPyInp').keyup(function (ev) {
							var keyWord=$('#provPyInp').val();
							clearTimeout(this.timer);
							layer.load();
							this.timer = setTimeout(function(){
								_this.loadLngData();
							}, 500);
						});
						$('#ycPyInp').keyup(function (ev) {
							var keyWord=$('#ycPyInp').val();
							clearTimeout(this.timer);
							layer.load();
							this.timer = setTimeout(function(){
								_this.loadLngData();
							}, 500);
						});
					},
					selDateCalDate : function(date,day){
						var dd = new Date(date);
					　　 dd.setDate(dd.getDate() + day);
					　　 var y = dd.getFullYear();
					　　 var m = dd.getMonth() + 1 < 10 ? "0" + (dd.getMonth() + 1) : dd.getMonth() + 1;
					　　 var d = dd.getDate() < 10 ? "0" + dd.getDate() : dd.getDate();
						return y + "-" + m + "-" + d;
					},
					loadLqTypeData : function(){
						var _this = this;
						$.ajax({
							type:"get",
							data : { id:'' },
							dataType:"json",
							url:"/gasType/queryGasType",
							success:function (json){
								layer.closeAll('loading');
								if(json.code == 200){
									_this.renderLqTypeHtml(json.datas);
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 50001){
									$('#lqTypeSel').append('<option value="">请选择液质类型</option>');
								}
							}
						});
					},
					renderLqTypeHtml : function(list){
						if(list.length > 0){
							var strHtml = '';
							strHtml += '<option value="">请选择液质类型</option>';
							for(var i=0;i<list.length;i++){
								strHtml += '<option value="'+ list[i].id +'">'+ list[i].name +'</option>';
							}
							$('#lqTypeSel').html(strHtml);
							form.render();
						}else{
							$('#lqTypeSel').append('<option value="">请选择液质类型</option>');
						}
					},
					loadLngData : function(){
						var ycPyInp = $.trim($('#ycPyInp').val()),
							lqTypeInp = $('#lqTypeInp').val(),
							provPyInp = $.trim($('#provPyInp').val()),
							lngDateInp = $('#lngDateInp').val();
						var field = {gsNamePy:ycPyInp,gasTypeId:lqTypeInp,provPy:provPyInp,priceDate:lngDateInp};
						table.render({
							elem: '#lngTable',
							height: 'full-150',
							url : '/lng/getLngPriceData',
							method : 'get',
							parseData : function(res){
								return {
									"code" : 0,
									"data" : res.datas
								}
							},
							where:field,
							page : false,
							even : true,
							text: {none : '暂无相关数据'},
							cellMinWidth:150,
							cols : [
								[
									{field : '', title: '序号',type:'numbers', align:'center'},
									{field : 'gfName', title: '液厂名称',align:'center'},
									{field : 'province', title: '归属地',align:'center'},
									{field : 'gfType', title: '液质类型',align:'center'},
									{field : 'prePrice', title:prevDate ,align:'center'},
									{field : 'currPrice', title: currDate,align:'center',edit: 'text',templet:function(d){
										var str = '';
										str += '<span id="currPri_'+ d.gfId +'" onclick="test()" style="cursor:pointer;">点击</span>';
										str += d.currPrice;
										return str;
									}},
									{field : 'nextPrice', title: nextDate,align:'center',edit: 'text'},
									{field : 'remark', title: remarkTxt,align:'center',edit: 'text'}
								]
							],
							done : function(res, curr, count){
								console.log(res)
								layer.closeAll('loading');
							}
						});
					}
				};
				table.on('edit(lngTable)',function(obj){
					var value = obj.value,priceDate = '',priceNum = 0,remark='';
					var gfId = obj.data.gfId,regNum = /^(0|[1-9][0-9]*)$/,isPassFlag = false;
					if(obj.field == 'currPrice' || obj.field == 'remark'){
						if(obj.field == 'currPrice'){
							var selector = obj.tr.selector+' td[data-field="'+obj.field+'"] div';
							var oldtext = $(selector).text();
							if(!regNum.test( value )){
								layer.msg('价格须为大于等于0的正整数,请从新填写');
								obj.value = 0;
								$(obj.tr.selector + ' td[data-field="' + obj.field + '"] input').val(oldtext);
								return;
							}
							priceNum = value;
						}else{
							remark = value;
						}
						priceDate = obj.data.currDate;
					}else if(obj.field == 'nextPrice'){
						priceDate = obj.data.nextDate;
						priceNum = value;
					}
					//layer.load();
					var field = {gfId:gfId,price:priceNum,priceDate:priceDate,remark:remark};
					/*$.ajax({
						type:"post",
						data : { id:field },
						dataType:"json",
						url:"/lng/addBatchLngData",
						success:function (json){
							layer.closeAll('loading');
							if(json.code == 200){
							}else if(json.code == 1000){
								layer.msg('服务器错误');
							}else if(json.code == 50001){
							}
						}
					});*/
					
					
				});
				page.init();
			});
			function test(){
				alert("----")
			}
		</script>
	</body>
</html>