<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/compManager.css"/>
		<link rel="stylesheet" type="text/css" href="../js/pace/pace-theme-flash.min.css"/>
		<script src="../js/pace/pace.min.js" type="text/javascript" charset="utf-8"></script>
		<title>意见反馈</title>
		<style>
			.noReadTxt{color: #F47837;}
			.hasReadTxt{color: #009688;}
			.blockSpan{background:#009688 ;color: #fff;}
		</style>
	</head>
	<body style="background:#f2f2f2;">
		<div class="layui-fluid" style="margin-top:15px;">
			<div class="layui-row">
				<div class="layui-card">
					<div class="layui-card-header posRel">
						<span class="itemDivs">意见反馈管理</span>
					</div>
					<div class="layui-card-body">
						<input type="hidden" id="readStausInp" value="0" />
						<div class="filterWrap layui-form layui-clear" style="margin-bottom: 20px;margin-top: 10px;">
							<div class="filterItem" style="margin-right: 5px;">
								<input type="radio" name="readStatus" value="0" title="未读" lay-filter="readStaFilter" checked/>
								<input type="radio" name="readStatus" value="1" title="已读" lay-filter="readStaFilter"/>
							</div>
							<div class="filterItemSel layui-form">
								<div class="layui-input-inline" style="width:130px;">
									 <input id="stDate" type="text" placeholder="请选择起始时间" readonly class="layui-input"/>
								</div>
								<span style="margin:0 5px;">至</span>
								<div class="layui-input-inline" style="width:130px;">
									 <input id="edDate" type="text" placeholder="请选择结束时间" readonly class="layui-input"/>
								</div>
							</div>
							<div class="filterItem">
								<button id="queryBtn" class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
							</div>
							<a class="resetBtn" href="javascript:void(0)" title="重置" style="width: 90px;">
								<i class="layui-icon layui-icon-refresh-3"></i>
								清空日期
							</a>
						</div>
						<table id="truckTradeTab" class="layui-table" lay-filter="truckTradeTab"></table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var feedId='',checkFlag = false,addEditFlag = false;
			layui.config({
				base: '/js/frame/js/'
			}).use(['layer','table','form','laydate'],function(){
				var layer = layui.layer,table = layui.table,form = layui.form,laydate=layui.laydate;
				laydate.render({elem:"#stDate"});
				laydate.render({elem:"#edDate"});
				form.on('radio(readStaFilter)',function(data){
					$('#readStausInp').val(data.value)
					page.loadFeedBackList();
				});
				var page = {
					init : function(){
						this.loadFeedBackList();
						this.bindEvent();
					},
					bindEvent : function(){
						var _this = this;
						$('#queryBtn').on('click',function(){
							var stDate = $('#stDate').val(),
								edDate = $('#edDate').val();
							if(stDate == '' && edDate != ''){
								layer.msg('请选择开始时间');
								return;
							}
							if(edDate == '' && stDate != ''){
								layer.msg('请选择结束时间');
								return;
							}
							if(stDate != '' && edDate != ''){
								if(stDate > edDate){
									layer.msg('开始时间不能大于结束时间');
									return;
								}
							}
							_this.loadFeedBackList();
						});
						$('.resetBtn').on('click',function(){
							$('#stDate').val('');
							$('#edDate').val('');
							_this.loadFeedBackList();
						});
					},
					switchToArray : function(tmpArray){
						var strHtml = '';
						for(var i=0;i<tmpArray.length;i++){
							strHtml += '<span class="blockSpan">'+ tmpArray[i] +'</span>';
						}
						return strHtml;
					},
					loadFeedBackList : function(){
						var _this = this;
						layer.load();
						var readStaInp = $('#readStausInp').val();
						var field = {readStatus:readStaInp,sDate:$('#stDate').val(),eDate:$('#edDate').val()};
						console.log(field)
						table.render({
							elem: '#truckTradeTab',
							height: 'full-200',
							url : '/feedBack/getFeedBackList',
							method : 'get',
							parseData : function(res){
								return {
									"code" : 0,
									"data" : res.datas,
									"count":res.count
								}
							},
							where:field,
							page : true,
							limit:20,
							even : true,
							text: {none : '暂无相关数据'},
							limits:[10,20,30,40],
							cellMinWidth:200,
							cols : [
								[
									{field : '', title: '序号',type:'numbers', align:'center'},
									{field : 'readStatus', title: '是否已读', align:'center',templet:function(d){
										if(d.readStatus == 0){
											return '<span class="noReadTxt">未读</span>'
										}else if(d.readStatus == 1){
											return '<span class="hasReadTxt">已读</span>'
										}
									}},
									{field : 'realName', title: '反馈人',align:'center'},
									{field : 'typeName', title: '反馈类型',align:'center',templet:function(d){
										return _this.switchToArray(d.typeName.split(','));
									}},
									{field : 'addTime', title: '反馈时间', align:'center'},
									{field : '', title: '操作', fixed:'right' ,align:'center',templet : function(d){
										var str = '';
										str += '<a href="javascript:void(0)" feedId="'+ d.id +'" lay-event="viewDetInfo" class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-search"></i>查看详情</a>';
										return str;
									}}
								]
							],
							done : function(res, curr, count){
								console.log(res)
								$('.layui-table-fixed').removeClass('layui-hide');
								layer.closeAll('loading');
							}
						});
					}
				};
				table.on('tool(truckTradeTab)',function(obj){
					if(obj.event == 'viewDetInfo'){
						feedId = $(this).attr('feedId');
						var fullScreenIndex = layer.open({
							title : '查看反馈详情',
							type: 2,
							closeBtn: 1, //不显示关闭按钮
							area : ['500px','400px'],
							content: '../feedBackManager/viewDet.html'
						});
						layer.full(fullScreenIndex);
					}
				});
				page.init();
			});
		</script>
		
	</body>
</html>
