<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/modManager.css"/>
		<title>编辑主模块</title>
	</head>
	<body style="background: #fff;">
		<input id="isHasData" type="hidden" value="1"/>
		<div id="addEditWrap" class="addEditMainModWrap layui-form"></div>
		
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		layui.use(['layer','jquery','form'],function(){
				var layer = layui.layer,
					$ = layui.jquery,
					form = layui.form;
				var page = {
					init : function(){
						this.onLoad();
					},
					onLoad : function(){
						var _this = this;
						layer.load();
						$.ajax({
							type:"get",
							dataType:"json",
							data:{modId:parent.globalModId},
							url:'/mod/getModuleDetailData',
							success:function (json){
								layer.closeAll('loading');
								if(json.code == 200){
									_this.loadEditModName(json.datas);
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 50001){
									$('#isHasData').val(0);
									$('#addEditWrap').html("<div class='noDataRec' style='margin-top:60px;'><i class='iconfont icon-wujilu'></i><p>暂无记录</p></div>");
								}
							}
						});
					},
					loadEditModName : function(list){
						var strHtml = '';
						strHtml += '<div class="comAddEditDiv"><span class="fl">模块中文名字：</span><input id="inpMainModName_cn" autoComplete="off" type="text" value="'+ list[0].modName +'" placeholder="请输入主模块中文名字(20字以内)" maxlength="20"></div>';
						strHtml += '<div class="comAddEditDiv"><span class="margLSpan_url fl">模块动作Url：</span><input id="inpMainModUrl" autoComplete="off" type="text" value="'+ list[0].modUrl +'" placeholder="请输入主模块动作url"></div>';
						strHtml += '</div>';
						$('#addEditWrap').html(strHtml);
						form.render();
					}
				};
				//监听添加主模块，选择模块等级事件
				form.on('radio(modLevelFilter)', function(data){
					$('#mainModLevelInp').val(data.value);
				}); 
				//监听添加主模块选择是否可见事件
				form.on('radio(modShowFilter)', function(data){
					$('#mainModShowInp').val(data.value);
				});
				$(function(){
					page.init();
				});
			});
		</script>
	</body>
</html>
