<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/modManager.css"/>
		<link rel="stylesheet" type="text/css" href="../js/pace/pace-theme-flash.min.css"/>
		<script src="../js/pace/pace.min.js" type="text/javascript" charset="utf-8"></script>
		<title>lng燃气管理系统--模块管理</title>
	</head>
	<body>
		<div class="layui-fluid" style="margin-top:15px;">
			<div class="layui-row">
				<div class="layui-col-md12 layui-col-lg12">
					<div class="layui-card">
						<div class="layui-card-header posRel">
							<span>模块管理</span>
							<a id="addMod" class="posAbs newAddBtn" opts="addBtn" href="javascript:void(0)"><i class="layui-icon layui-icon-add-circle"></i>添加模块</a>
						</div>
						<div class="layui-card-body" pad15>
							<div id="moduleList" class="moduleList"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.7.2.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var globalOpts = "addBtn",globalModId=0,madIdArray=[];
			layui.use(['layer','form'],function(){
				var layer = layui.layer,
					form = layui.form;
				var page = {
					data : {
						inpMainModName_cn : '',
						inpMainModUrl : '',
						globalIndex : 0,
						globalMainModId : [] //用于存放所有主模块Id
					},
					init : function(){
						$('#addMod').show();
						this.loadModuleList();
						this.bindEvent();
					},
					loadModuleList : function(){
						var _this = this;
						layer.load();
						$.ajax({
						    type:"get",
							data : { specUserId:'' },
						    dataType:"json",
						    url:"/mod/getAllModuleData",
						    success:function (json){
						    	layer.closeAll('loading');
								if(json.code == 200){
									var modList = json.datas;
									getModuleList(modList);
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 50001){
									layer.msg('暂无数据');
								}else if(json.code == 70001){
									layer.msg('暂无访问权限');
								}
						    }
						});
					},
					bindEvent : function(){
						var _this = this;
						//增加模块
						$('#addMod').on('click',function(){
							globalOpts = $(this).attr("opts");
							var addEditMainModCon = '';
							addEditMainModCon += '<div class="addEditMainModWrap layui-form">';
							addEditMainModCon += '<div class="comAddEditDiv"><span class="fl">主模块中文名字：</span><input id="inpMainModName_cn" autoComplete="off" type="text" placeholder="请输入模块中文名字(20字以内)" maxlength="20"></div>';
							addEditMainModCon += '<div class="comAddEditDiv"><span class="margLSpan_url fl">主模块动作Url：</span><input id="inpMainModUrl" autoComplete="off" type="text" placeholder="请输入模块动作url"></div>';
							
							addEditMainModCon += '</div>';
							_this.data.globalIndex = layer.open({
								title : '添加主模块',
								type: 1,
								skin:'layui-layer-molv', //样式类名
								closeBtn: 0, //不显示关闭按钮
								area : ['500px','200px'],
								content: addEditMainModCon,
								btn : ['确定','取消'],
								btnAlign:'c',
								yes: function(index, layero){
									_this.addEditMainModFun();
								},
								success : function(layero, index){
									form.render();
								}
							});
							
						});
					},
					bindEvent_multi : function(){
						var _this = this;
						//编辑主模块
						$('.editMainModName').on('click',function(){
							var modId = $(this).attr('modId');
							globalModId = modId;
							globalOpts = $(this).attr("opts");
							_this.data.globalIndex = layer.open({
								title : '编辑主模块',
								type: 2,
								skin:'layui-layer-molv', //样式类名
								closeBtn: 1, //不显示关闭按钮
								area : ['500px','200px'],
								btn : ['确定','取消'],
								btnAlign:'c',
								content: '../modManager/editMainModName.html',
								yes : function(index, layero){
									var body = layer.getChildFrame('body', index);
									if(body.find('#isHasData').val() == 1){//表示有数据
										_this.data.inpMainModName_cn = body.find('#inpMainModName_cn').val();
										_this.data.inpMainModUrl = body.find('#inpMainModUrl').val();
										_this.addEditMainModFun(modId);
									}else{
										layer.close(index);
									}
								}
							});
						});
						//增加子模块
						$('.addSonModBtn').on('click',function(){
							var modId = $(this).attr('modId');
							var sonModNameStr = '';
							sonModNameStr += '<div class="editSonModNameCon">';
							sonModNameStr += '<div class="comEditDiv"><span class="fl">子模块中文名：</span><input id="sonModChiNameInp" autoComplete="off" type="text" placeholder="请输入子模块中文名(20字内)" maxlength="20"/></div>';
							sonModNameStr += '<div class="comEditDiv"><span class="fl">子模块英文名：</span><input id="sonModEngNameInp" autoComplete="off" type="text" placeholder="请输入子模块英文名(30字内)" maxlength="30"></div>';
							sonModNameStr += '</div>';
							_this.data.globalIndex = layer.open({
								title : '增加子模块',
								type : 1, 
								closeBtn: 0, //不显示关闭按钮
								area : ['400px','200px'],
								skin:'layui-layer-molv',
								content: sonModNameStr,
								btn : ['确定','取消'],
								btnAlign:'c',
								yes: function(index, layero){
									_this.addEditSonModName('addSonModOpt',modId,'','');
								}
							});
						});
						//编辑子模块内容 editSonModName
						$('.editSonModName').on('click',function(){
							var maId = $(this).attr('maId'),
								actNameChi = $(this).attr('actNameChi'),actNameEng = $(this).attr('actNameEng'),editThis = parent;
							var editSonModCon = '';
							var that = this;
							editSonModCon += '<div class="editSonModNameCon">';
							editSonModCon += '<div class="comEditDiv"><span class="fl">子模块中文名：</span><input id="sonModChiNameInp" type="text" value="'+ actNameChi +'" autoComplete="off" placeholder="请输入子模块中文名(20字内)" maxlength=20""></div>';
							editSonModCon += '<div class="comEditDiv"><span class="fl">子模块英文名：</span><input id="sonModEngNameInp" type="text" value="'+ actNameEng +'" autoComplete="off" placeholder="请输入模块英文名(30字内)" maxlength="30"></div>';
							editSonModCon += '</div>';
							_this.data.globalIndex = layer.open({
								title : '编辑子模块——' + actNameChi + '('+ actNameEng + ')',
								type : 1, 
								closeBtn: 0, //不显示关闭按钮
								area : ['400px','200px'],
								skin:'layui-layer-molv',
								content: editSonModCon,
								btn : ['确定','取消'],
								btnAlign:'c',
								yes: function(index, layero){
									_this.addEditSonModName('editSonModOpt','',maId,that);
								}
							});
						});
					},
					addEditSonModName : function(opts,modId,maId,that){
						var _this = this,url='';
						var sonModChiNameInp = $.trim($('#sonModChiNameInp').val()),
						sonModEngNameInp = $.trim($('#sonModEngNameInp').val()),
						regCN = /^[\u4E00-\u9FA5]+$/,
						regEN =  /^[a-zA-Z]+$/;
						if(opts == 'addSonModOpt'){
							//增加子模块
							url = '/mod/addModAct';
							var field = {modId:modId,actNameChi:sonModChiNameInp,actNameEng:sonModEngNameInp};
						}else{//编辑子模块
							url = '/mod/upModAct';
							var field = {maId:maId,actNameChi:sonModChiNameInp,actNameEng:sonModEngNameInp};
						}
						if(sonModChiNameInp == ''){
							layer.msg('子模块中文名字不能为空', {icon:5,anim:6,time:1000});
						}else if(sonModEngNameInp == ''){
							layer.msg('子模块英文名字不能为空', {icon:5,anim:6,time:1000});
						}else{
							if(!regCN.test(sonModChiNameInp)){
								layer.msg('子模块中文名字应为汉字', {icon:5,anim:6,time:1000});
							}else if(!regEN.test(sonModEngNameInp)){
								layer.msg('子模块英文名字应为英语', {icon:5,anim:6,time:1000});
							}else{
								$.ajax({
									type:"post",
									dataType:"json",
									data:field,
									url:url,
									success:function (json){
										console.log( json )
										if(json.code == 200){
											if(opts == 'addSonModOpt'){
												layer.msg("添加子模块成功",{icon:1,time:1000},function(){
													_this.loadModuleList();
													_this.bindEvent_multi();
													layer.close(_this.data.globalIndex);
													_this.data.globalIndex = 0;
												});
											}else{
												layer.msg("编辑子模块成功",{icon:1,time:1000},function(){
													$(that).html('<span>' + sonModChiNameInp + '(' + sonModEngNameInp + ')</span><i class="layui-icon layui-icon-edit"></i>');
													$(that).attr('actnameChi',sonModChiNameInp);
													$(that).attr('actNameEng',sonModEngNameInp);
													layer.close(_this.data.globalIndex);
													_this.data.globalIndex = 0;
												});
											}
											
										}else if(json.code == 50003){
											layer.msg("该子模块已存在，请重新填写", {icon:5,anim:6,time:1000});
										}else if(json.code == 1000){
											layer.msg("系统错误，请重试", {icon:5,anim:6,time:1000});
										}else if(json.code == 70001){
											layer.msg("抱歉，您暂无权限添加/编辑子模块", {icon:5,anim:6,time:1000});
										}
									}
								});
							}
						}
					},
					//添加、编辑主模块方法
					addEditMainModFun : function(modId){
						var _this = this,
							inpMainModName_cn = globalOpts == 'addBtn' ? $.trim($('#inpMainModName_cn').val()) : _this.data.inpMainModName_cn,
							inpMainModUrl = globalOpts == 'addBtn' ? $.trim($('#inpMainModUrl').val()) : _this.data.inpMainModUrl,
							regCN = /^[\u4E00-\u9FA5]+$/,
							regNum = /^[1-9]\d*$/;
						if(inpMainModName_cn == ''){
							layer.msg('模块中文名字不能为空', {icon:5,anim:6,time:1000});
						}else if(inpMainModUrl == ''){
							layer.msg('模块动作Url不能为空', {icon:5,anim:6,time:1000});
						}else{
							if(!regCN.test(inpMainModName_cn)){
								layer.msg('模块中文名字应为汉字', {icon:5,anim:6,time:1000});
							}else if(regCN.test(inpMainModUrl)){
								layer.msg('模块动作Url不能含有汉字', {icon:5,anim:6,time:1000});
							}else{
								//执行ajax
								var url = '';
								if(globalOpts == 'addBtn'){//表示增加主模块
									url = '/mod/addMod';
									var field = {modName:inpMainModName_cn,modUrl:inpMainModUrl};
								}else if(globalOpts == 'editBtn'){//表示编辑主模块
									url = '/mod/upMod';
									var field = {modId:modId,modName:inpMainModName_cn,modUrl:inpMainModUrl};
								}
								layer.load();
								$.ajax({
									type:"post",
									dataType:"json",
									data :field,
									url:url,
									success:function (json){
										console.log(json)
										layer.closeAll("loading");
										if(json["code"] == 200){
											var strTxt = '';
											if(globalOpts == "addBtn"){//表示增加主模块
												strTxt = '添加成功';
											}else if(globalOpts == "editBtn"){//表示编辑主模块
												strTxt = '编辑成功';
											}
											function callBackSuccess(){
												layer.msg(strTxt,{icon:1,time:1200},function(){
													_this.loadModuleList();
													_this.bindEvent_multi();
													layer.close(_this.data.globalIndex);
													_this.data.globalIndex = 0;
												});
											}
											callBackSuccess(strTxt);
										}else if(json["code"] == 1000){
											layer.msg("服务器错误", {icon:5,anim:6,time:1200});
										}else if(json["code"] == 50003){//系统错误
											layer.msg("当前添加主模块已存在", {icon:5,anim:6,time:1200});
										}else if(json["code"] == 70001){
											layer.msg("抱歉，您暂无权限增加模块", {icon:5,anim:6,time:1200});
										}
									}
								});
							}
						}
					}
				};
				$(function(){
					page.init();
				});
				function getModuleList(modList){
					var strHtml = '';
					strHtml += '<ul id="modTit" class="noSelAll modListTit clearfix">';
					strHtml += '<li class="orderNumWid">序号</li>';
					strHtml += '<li class="mainModWid">主模块名</li><li class="sonModWid">子模块名</li></ul>';
					strHtml += '<div id="listModCon" class="noSelAll">';
					for(var i=0;i<modList.length;i++){
						page.data.globalMainModId.push(modList[i].modId);
						strHtml += '<ul class="spUl clearfix">';
						strHtml += '<li class="orderNumWid hasPosAbso posL flexBox">'+ modList[i].modOrder +'</li>';
						
						//主模块名字
						strHtml += '<li class="mainModWid hasAlign hasPosAbso posL1"><span class="modMainNameSpan flexBox"><b class="ellip">'+ modList[i].modName +'</b></span>';
						strHtml += '<div class="setMainMod posAbs"><i class="layui-icon layui-icon-add-1 addSonModBtn" modId="'+ modList[i].modId +'" title="添加子模块"></i><i title="编辑主模块" class="layui-icon layui-icon-edit editMainModName" opts="editBtn" modId="'+ modList[i].modId +'"></i>';
						strHtml += '</div>';
						strHtml += '</li>';
						//子模块名
						strHtml += '<li class="sonModWid sonModNames hasMargL_mod">';
						if(modList[i].modSubList.length > 0){
							for(var j=0;j<modList[i].modSubList.length;j++){
								strHtml += '<p class="hasTxtAlign">';
								strHtml += '<a href="javascript:void(0)" class="seSonMod editSonModName" maId="'+ modList[i].modSubList[j].maId +'" actNameChi="'+ modList[i].modSubList[j].maChi +'" actNameEng="'+ modList[i].modSubList[j].maEng +'">';
								strHtml += '<span>'+ modList[i].modSubList[j].maChi +'('+modList[i].modSubList[j].maEng +')</span>';
								strHtml += '<i class="layui-icon layui-icon-edit" title="编辑子模块"></i></a>';
								strHtml += '</p>';
							}
						}
						strHtml += '</li></ul>';
					}
					strHtml += '</div>';
					$('#moduleList').html(strHtml);
					form.render();
					page.bindEvent_multi();
				}
				
			});
		</script>
	</body>
</html>
