.addEditItem{
	position: relative;
}
.layui-form-label{
	width: 120px;
}
.layui-input-block{
	margin-left: 160px;
}
.truckTradeWrap{
	padding: 10px 0;
}
.tipsInfo{
	float: left;
	margin-left: 15px;
	line-height: 120px;
	color: #F47837;
}
.tipsInfo i{
	font-size: 13px;
}
.addMainImgBtn{
	width: 240px;
	height: 120px;
	line-height: 120px;
	border:1px solid #ccc;
	display: block;
	text-align: center;
	position: relative;
	float: left;
}
.addImgBtn{
	width: 60px;
	height: 60px;
	line-height: 60px;
	border:1px solid #ccc;
	text-align: center;
	display: block;
	position: relative;
}
.addImgBtn i{
	font-size: 26px;
	color: #ccc;
}
.addMainImgBtn i{
	font-size: 40px;
	color: #ccc;
}
.addImgBtn img,
.addMainImgBtn img{
	position: absolute;
	left: 0;
	top:0 ;
	display: none;
}
.addMainImgBtn img{
	width: 240px;
	height: 120px;
}
.addImgBtn img{
	width: 60px;
	height: 60px;
}
.carNumSelWrap{
	width: 70px;
	float: left;
	margin-right:15px;
}
.carNumInpWrap{
	width:631px;
	float: left;
}
.comInpItem{
	width: 800px;
	position: relative;
}
.comInpItem textarea{
	resize:none;
}
.comInpItem span.danweiTxt{
	width: 40px;
	height: 100%;
	line-height: 38px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	color: #999;
}
.comInpItem.hasAlign{
	text-align: center;
}
.comInpItem.hasAlign button{
	display: inline-block;
	margin-left: 150px;
}
#provList .layui-form-checkbox{
	margin-bottom: 10px;
}
.layui-form-item{
	margin-bottom: 25px;
}
.dangerItemWrap{
	margin-bottom: 25px;
}
.dangerItem{
	float: left;
	height: 82px;
	text-align: center;
	margin-left:24px;
}
.dangerItem.hasMargL{
	margin-left: 76px;
}
.dangerItem p {
	float: left;
	margin-right: 8px;
	line-height: 60px;
}
.dangerItem p span.mustItem{
	color: red;
}
.addImgWrap{
	float: left;
}
.viewBigImg{
	width: 100%;
	display: block;
	text-align: center;
	line-height: 28px;
	color:#009688 ;
	cursor: pointer;
	display: none;
}
.viewBigImg:hover,
.viewMainBigImg:hover,
.detImgList li span:hover,
.viewQfBigImg:hover{
	color: #F47837;
}
.tipInfo{
	height: 38px;
	line-height: 38px;
	color: #999;
}
#compNameWrap,
#gasTypeWrap,
.dangerItemWrap,
#transformArea,
#jgzzWrap,
#truckTypeNameWrap,
#zulinPriceWrap,
#xsPriceWrap{
	display: none;
}
.viewMainBigImg{
	float: left;
	margin-left: 10px;
	margin-top: 49px;
	color:#009688 ;
	cursor: pointer;
	display: none;
}
.itemDet{
	float: left;
	width: 393px;
}
.provItemDet{
	margin-right: 15px;
	margin-left: 9px;
}
.tipsTxt {
    position: absolute;
    left: 66px;
    top: 32px;
    font-size: 12px;
    color: #999;
}
.addDetImgBtn{
	width: 84px;
	height: 84px;
	display: block;
	position: relative;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 86px;
	float: left;
}
.addDetImgBtn i{
	font-size: 30px;
	color: #666;
	position: relative;
	z-index: 1;
}
.detImgList li{
	float: left;
	margin-right: 33px;
	position: relative;
	margin-bottom: 20px;
}
.detImgList li:nth-of-type(7n){
	margin-right: 0;
}
.detImgList li a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	text-align: center;
}
.detImgList li a i{
	color: #fff;
	font-size: 20px;
}
.detImgList li img{
	width: 86px;
	height: 86px;
}
.detImgList li span{
	display: block;
	width: 86px;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
	color:#009688 ;
}
.layui-form-checkbox[lay-skin=primary] span.disColor{
	color: #ccc;
}
.innerQianfeng{
	zoom:1;
}
.innerQianfeng:after{content:"";display:block;clear:both;}
.qianfengItem{
	width: 256px;
	float: left;
	margin-right: 16px;
}
.qianfengItem.noMargR{
	margin-right: 0;
}
.qianfengItem a{
	width: 254px;
	height: 118px;
	line-height: 118px;
	border:1px solid #ccc;
	text-align: center;
	display: block;
	position: relative;
	margin:10px 0 5px 0;
}
.qianfengItem a i{
	font-size: 36px;
	color:#ccc ;
}
.qianfengItem a img{
	width:254px ;
	height: 118px;
	position: absolute;
	left: 0;
	top:0;
	display: none;
}
.viewQfBigImg{
	width: 100%;
	line-height: 26px;
	color:#009688 ;
	cursor: pointer;
	text-align: center;
	display: block;
	display: none;
}