<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/jgzz.css"/>
		<link rel="stylesheet" type="text/css" href="../js/pace/pace-theme-flash.min.css"/>
		<script src="../js/pace/pace.min.js" type="text/javascript" charset="utf-8"></script>
		<title>液厂列表</title>
	</head>
	<body style="background:#f2f2f2;">
		<div class="layui-fluid" style="margin-top:15px;">
			<div class="layui-row">
				<div class="layui-card">
					<div class="layui-card-header posRel">
						<span class="itemDivs">液厂管理</span>
						<a id="addFactory" class="posAbs newAddBtn" opts="addBtn" href="javascript:void(0)"><i class="layui-icon layui-icon-add-circle"></i>添加液厂</a>
					</div>
					<div class="layui-card-body">
						<div class="filter">
							<div class="filterItem" style="width:120px;margin-right:-2px;">
								<div class="layui-input-inline layui-form">
									<select id="ycSel" lay-filter="ycSel"> 
										<option value="1">液厂拼音码</option>
								       	<option value="2">液厂名称</option>
								     </select>
								</div>
							</div>
							<div class="filterItem">
								<div class="layui-input-inline posRel">
									<input id="ycPyInp" type="text" class="layui-input" placeholder="请输入液厂拼音码"/>
									<input id="ycNameInp" type="text" class="layui-input" placeholder="请输入液厂名称"/>
									<a class="clearBtn clearYcNameBtn" href="javascript:void(0)" title="清空"><i class="layui-icon layui-icon-close"></i></a>
								</div>
							</div>
							<div class="filterItem">
								<input type="hidden" id="lqTypeInp" />
								<div class="layui-input-inline layui-form">
									<select id="lqTypeSel" lay-filter="lqTypeSel"> 
										<option value="">请选择液质类型</option>
								     </select>
								</div>
							</div>
							
							<div class="filterItem" style="width:100px;margin-right:-2px;">
								<div class="layui-input-inline layui-form">
									<select id="provSel" lay-filter="provSel"> 
										<option value="1">省拼音码</option>
								       	<option value="2">省名称</option>
								     </select>
								</div>
							</div>
							<div class="filterItem">
								<div class="layui-input-inline">
									<input id="provPyInp" type="text" class="layui-input" placeholder="请输入省拼音码"/>
									<input id="provNameInp" type="text" class="layui-input" placeholder="请输入省名称"/>
									<a class="clearBtn clearProvBtn" href="javascript:void(0)" title="清空"><i class="layui-icon layui-icon-close"></i></a>
								</div>
							</div>
							
							<div class="filterItem" style="width: 180px;">
								<div class="layui-input-inline layui-form">
									<select id="checkSel" lay-filter="checkSel"> 
										<option value="">请选择审核状态(全部)</option>
										<option value="0">未审核</option>
										<option value="1">审核通过</option>
										<option value="2">审核未通过</option>
								     </select>
								</div>
							</div>
							
							<div class="filterItem">
								<div class="layui-input-inline">
									<button id="queryBtn" class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
								</div>
							</div>
							<div class="filterFlag">
								<p>
									<span class="currStaSpan passBg"></span>
									<span>表示审核通过</span>
								</p>
								<p>
									<span class="currStaSpan noPassBg"></span>
									<span>表示审核未通过</span>
								</p>
							</div>
						</div>
						<table id="lqFactTab" class="layui-table" lay-filter="lqFactTab"></table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var checkStatus=-1,addEditFlag = false,globalOpts='',gfId=0,checkFlag=false;
			layui.use(['layer','table','form'],function(){
				var layer = layui.layer,form = layui.form,table=layui.table;
				form.on('select(lqTypeSel)',function(data){
					data.value == '' ? $('#lqTypeInp').val('') : $('#lqTypeInp').val(data.value);
					page.loadLqFactoryList();
				});
				form.on('select(ycSel)',function(data){
					if(data.value == 1){
						$('#ycPyInp').show();
						$('#ycNameInp').hide();
					}else{
						$('#ycPyInp').hide();
						$('#ycNameInp').show();
					}
					$('#ycPyInp').val('');
					$('#ycNameInp').val('');
				});
				form.on('select(provSel)',function(data){
					if(data.value == 1){
						$('#provPyInp').show();
						$('#provNameInp').hide();
					}else{
						$('#provPyInp').hide();
						$('#provNameInp').show();
					}
					$('#provPyInp').val('');
					$('#provNameInp').val('');
				});
				form.on('select(checkSel)',function(data){
					data.value == '' ? checkStatus = -1 : checkStatus = data.value;
					page.loadLqFactoryList();
				});
				var page = {
					init : function(){
						this.loadLqTypeData();
						this.loadLqFactoryList();
						this.bindEvent();
					},
					bindEvent : function(){
						var _this = this;
						$('#addFactory').on('click',function(){
							globalOpts = 'addBtn';
							checkStatus = -1;
							_this.commonLayer();
						});
						$('#queryBtn').on('click',function(){
							_this.loadLqFactoryList();
						});
						$('.clearYcNameBtn').on('click',function(){
							$('#ycPyInp').val('');
							$('#ycNameInp').val('');
							_this.loadLqFactoryList();
						});
						$('.clearProvBtn').on('click',function(){
							$('#provPyInp').val('');
							$('#provNameInp').val('');
							_this.loadLqFactoryList();
						});
					},
					loadLqTypeData : function(){
						var _this = this;
						$.ajax({
							type:"get",
							data : { id:'' },
							dataType:"json",
							url:"/gasType/queryGasType",
							success:function (json){
								layer.closeAll('loading');
								if(json.code == 200){
									_this.renderLqTypeHtml(json.datas);
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 50001){
									$('#lqTypeSel').append('<option value="">请选择液质类型</option>');
								}
							}
						});
					},
					renderLqTypeHtml : function(list){
						if(list.length > 0){
							var strHtml = '';
							strHtml += '<option value="">请选择液质类型</option>';
							for(var i=0;i<list.length;i++){
								strHtml += '<option value="'+ list[i].id +'">'+ list[i].name +'</option>';
							}
							$('#lqTypeSel').html(strHtml);
							form.render();
						}else{
							$('#lqTypeSel').append('<option value="">请选择液质类型</option>');
						}
					},
					commonLayer : function(){
						addEditFlag = true;
						var fullScreenIndex = layer.open({
							title : '',
							type: 2,
							closeBtn: 0, //不显示关闭按钮
							area : ['500px','300px'],
							content: '../lqFactoryManager/addEditLqFactory.html',
							end : function(){
								if(addEditFlag){
									page.loadLqFactoryList();
								}
							},
							cancel: function () {
								addEditFlag = false;
							}
						});
						layer.full(fullScreenIndex);
					},
					//液厂list
					loadLqFactoryList : function(){
						var ycNameInp = $.trim($('#ycNameInp').val()),
							ycPyInp = $.trim($('#ycPyInp').val()),
							lqTypeInp = $('#lqTypeInp').val(),
							provPyInp = $.trim($('#provPyInp').val()),
							provNameInp = $.trim($('#provNameInp').val());
						var field = {name:ycNameInp,namePy:ycPyInp,gasTypeId:lqTypeInp,province:provNameInp,provincePy:provPyInp,checkStatus:checkStatus};
						console.log(field)
						table.render({
							elem: '#lqFactTab',
							height: 'full-150',
							url : '/gsf/getPageGasFactoryData',
							method : 'get',
							parseData : function(res){
								return {
									"code" : 0,
									"data" : res.datas,
									"count" : res.count
								}
							},
							where:field,
							page : true,
							even : true,
							limit:20,
							text: {none : '暂无相关数据'},
							cellMinWidth:200,
							cols : [
								[
									{field : '', title: '序号',type:'numbers', align:'center'},
									{field : 'name', title: '液厂名称',align:'center',templet : function(d){
										var str = '';
										if(d.checkStatus == 1){//通过
											str += '<span class="currCheckFlag passBg"></span>';
										}else if(d.checkStatus == 2){//不通过
											str += '<span class="currCheckFlag noPassBg"></span>';
										}
										str += '<span>'+ d.name +'</span>';
										return str;
									}},
									{field : 'namePy', title: '拼音码',align:'center'},
									{field : 'gasTypeName', title: '液质类型',align:'center'},
									{field : 'lxName', title: '联系人',align:'center'},
									{field : 'province', title: '所在省份',align:'center'},
									{field : 'address', title: '液厂地址',align:'center'},
									{field : 'addTime', title: '添加时间',align:'center'},
									{field : '', title: '操作', fixed: 'right', align:'center',templet : function(d){
										var str = '';
										str += '<a href="javascript:void(0)" style="margin-right:10px;" gfId="'+ d.gfId +'" facName="'+ d.name +'" lay-event="editLqFacInfo" class="layui-btn layui-btn-primary layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>查看/编辑</a>';
										if(d.checkStatus == 0){
											str += '<a href="javascript:void(0)" gfId="'+ d.gfId +'" name="'+ d.name +'" lay-event="lqFacVerify" checkSta="0" class="layui-btn layui-btn-xs"><i class="iconfont icon-vercode"></i>审核</a>';
										}else if(d.checkStatus == 1){//审核通过
											str += '<input type="checkbox" name="checkStaName" checkSta="2" lay-skin="switch" gfId="'+ d.gfId +'" name="'+ d.name +'" lay-filter="verifyInfo_spec" lay-text="通过|不通过" checked>';
										}else if(d.checkStatus == 2){//审核未通过
											str += '<input type="checkbox" name="checkStaName" gfId="'+ d.gfId +'" name="'+ d.name +'" checkSta="1" lay-skin="switch" ttId="'+ d.ttId +'" lay-filter="verifyInfo_spec" lay-text="通过|不通过"/>';
										}
										return str;
									}}
								]
							],
							done : function(res, curr, count){
								//console.log(res)
								$('.layui-table-fixed').removeClass('layui-hide');
								layer.closeAll('loading');
							}
						});
					}
				};
				form.on('switch(verifyInfo_spec)',function(data){
					var currTit = '';
					var currCheckStatus = data.elem.checked;
					gfId = $(this).attr('gfId'),
					checkStatus = $(this).attr('checkSta');
					lqFacName = $(this).attr('name');
					if(checkStatus == 1){//审核通过
						currTit = '<span style="color:green;">审核通过</span>';
					}else if(checkStatus == 2){//审核不通过
						currTit = '<span style="color:red;">不通过</span>';
					}
					layer.confirm('是否要将当前槽车租卖信息审核状态变更为['+ currTit +']?', {
					  title:'修改液厂审核状态',
					  skin: 'layui-layer-molv',
					  btn: ['确定','取消'],//按钮
					  closeBtn:0,
					},function(index){
						data.elem.checked = currCheckStatus;
						layer.load();
						var field = {gfId:gfId,checkStatus:checkStatus};
						$.ajax({
							type:'PUT',
							dataType:"json",
							data :field,
							url:'/gsf/checkGf',
							success:function (json){
								layer.closeAll('loading');
								if(json.code == 200){
									layer.msg("变更液厂审核状态成功",{icon:1,time:1000},function(){
										checkStatus = -1;
										page.loadLqFactoryList();
									});
								}else if(json.code == 50001){
									layer.msg("修改失败，当前液厂不存在", {icon:5,anim:6,time:2000});
									checkStatus = -1;
									data.elem.checked=!currCheckStatus;
									form.render();
								}else if(json.code == 1000){
									layer.msg("系统错误，请重试", {icon:5,anim:6,time:1000});
									checkStatus = -1;
									data.elem.checked=!currCheckStatus;
									form.render();
								}else if(json.code == 70001){
									layer.msg("抱歉，您暂无权限修改液厂审核状态", {icon:5,anim:6,time:1500});
									checkStatus = -1;
									data.elem.checked=!currCheckStatus;
									form.render();
								}
							}
						});
					},function(index){
						checkStatus = -1;
						data.elem.checked=!currCheckStatus;
						form.render();
						layer.close(index);
					});
				});
				table.on('tool(lqFactTab)',function(obj){
					if(obj.event == 'editLqFacInfo'){
						gfId = $(this).attr('gfId');
						globalOpts = 'editBtn';
						page.commonLayer();
					}else if(obj.event == 'lqFacVerify'){
						checkFlag = true;
						gfId = $(this).attr('gfId'),
						checkStatus = $(this).attr('checkSta');
						lqFacName = $(this).attr('name');
						layer.open({
							title : '审核液厂--[' + lqFacName + ']',
							type: 2,
							skin:'layui-layer-molv', //样式类名
							closeBtn: 0, //不显示关闭按钮
							area : ['500px','200px'],
							content: '../lqFactoryManager/verifyLqFac.html',
							end : function(){
								if(checkFlag){
									page.loadCompList();
								}
							}
						});
					}
				});
				page.init();
			});
		</script>
		
	</body>
</html>
