<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/addEditTruckTrade.css"/>
		<title>添加/编辑燃气买卖</title>
	</head>
	<body>
		<div class="truckTradeWrap layui-form">
			<div id="compNameWrap" class="layui-form-item addEditItem" style="display: block;">
				<input type="hidden" id="compNameInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>贸易商名称</label>
				<div class="layui-input-block comInpItem">
					<select id="compNameSel" lay-filter="compNameSel">
						<option value="">请选择贸易商</option>
					</select>
				</div>
			</div>
			
			
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="lqFactoryInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>液厂</label>
				<div class="layui-input-block comInpItem">
					<select id="lqFactorySel" lay-filter="lqFactorySel">
						<option value="">请选择液厂</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="lqTypeInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>液质类型</label>
				<div class="layui-input-block comInpItem">
					<p id="lqTypeName" class="tipInfo">请先选择液厂</p>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span class="mustItem">*</span>燃气买卖主图</label>
				<div class="layui-input-block">
					<a id="addImgBtn_main" title="添加燃气买卖主图" class="addMainImgBtn" href="javascript:void(0)">
						<i class="iconfont icon-add"></i>
						<img id="thubImg_main"/>
					</a>
					<p class="tipsInfo">
						<i class="iconfont icon-gonggao"></i>
						<span>请上传燃气买卖主图主图，建议图片宽高尺寸750*400</span>
					</p>
					<span id="viewMainBigImg" class="viewMainBigImg">查看原图</span>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="cardTitInp">
				<input type="hidden" id="cardWordsInp">
				<label class="layui-form-label"><span class="mustItem">*</span>槽车车牌号</label>
				<div class="layui-input-block">
					<div class="carNumSelWrap">
						<select id="cardTitSel" lay-filter="cardTitSel"></select>
					</div>
					<div class="carNumSelWrap">
						<select id="cardWordSel" lay-filter="cardWordSel"></select>
					</div>
					<div class="carNumInpWrap">
						<input id="cardNumInp" type="text" class="layui-input" placeholder="请输入槽车车牌号码(5位)" maxlength="5" autocomplete="off" />
					</div>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="jsyNameInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>驾驶员</label>
				<div class="layui-input-block comInpItem">
					<select id="jsyNameSel" lay-filter="jsyNameSel">
						<option value="">请选择驾驶员</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>驾驶员电话</label>
				<div class="layui-input-block comInpItem">
					<input id="jsyTelInp" type="text" placeholder="请先选择驾驶员" readonly maxlength="11" class="layui-input" autocomplete="off"/>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<input type="hidden" id="yyyNameInp"/>
				<label class="layui-form-label"><span class="mustItem">*</span>押运员</label>
				<div class="layui-input-block comInpItem">
					<select id="yyyNameSel" lay-filter="yyyNameSel">
						<option value="">请选择押运员</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>押运员电话</label>
				<div class="layui-input-block comInpItem">
					<input id="yyyTelInp" type="text" placeholder="请先选择押运员" readonly maxlength="11" class="layui-input" autocomplete="off"/>
				</div>		
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>装载量</label>
				<div class="layui-input-block comInpItem">
					<input id="gasVolumeInp" type="text" placeholder="请输入装载量" class="layui-input" autocomplete="off"/>
					<span class="danweiTxt">吨</span>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>单价</label>
				<div class="layui-input-block comInpItem">
					<input id="gasPriceInp" type="text" placeholder="请输入单价" class="layui-input" autocomplete="off"/>
					<span class="danweiTxt">/吨</span>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>装车日期</label>
				<div class="layui-input-block comInpItem">
					<input id="zcDateInp" type="text" placeholder="请选择装车日期" readonly class="layui-input"/>
					<span class="danweiTxt">日</span>
				</div>		
			</div>
			<div class="layui-form-item qianfengWrap">
				<label class="layui-form-label"><span class="mustItem">*</span>铅封信息</label>
				<div class="layui-input-block comInpItem innerQianfeng">
					<div class="qianfengItem">
						<input type="text" id="qfTxtInp1" placeholder="请输入铅封文字信息" class="layui-input" autocomplete="off" maxlength="30"/>
						<a href="javascript:void(0)" id="addImgBtn_qfImg1" class="addQfImgBtn" title="请添加铅封图片">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_qfImg1"/>
						</a>
						<span id="viewBigImg_qfImg1" class="viewQfBigImg">查看原图</span>
					</div>
					
					<div class="qianfengItem">
						<input type="text" id="qfTxtInp2" placeholder="请输入铅封文字信息" class="layui-input" autocomplete="off" maxlength="30"/>
						<a href="javascript:void(0)" id="addImgBtn_qfImg2" class="addQfImgBtn" title="请添加铅封图片">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_qfImg2"/>
						</a>
						<span id="viewBigImg_qfImg2" class="viewQfBigImg">查看原图</span>
					</div>
					
					<div class="qianfengItem noMargR">
						<input type="text" id="qfTxtInp3" placeholder="请输入铅封文字信息" class="layui-input" autocomplete="off" maxlength="30"/>
						<a href="javascript:void(0)" id="addImgBtn_qfImg3" class="addQfImgBtn" title="请添加铅封图片">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_qfImg3"/>
						</a>
						<span id="viewBigImg_qfImg3" class="viewQfBigImg">查看原图</span>
					</div>
				</div>
			</div>
			<div class="layui-form-item transformArea">
				<label class="layui-form-label"><span class="mustItem">*</span>配送区域</label>
				<div class="layui-input-block comInpItem" id="provList"></div>
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label">GPS信息</label>
				<div class="layui-input-block comInpItem">
					<input id="GPSInfoInp" type="text" class="layui-input" placeholder="请输入GPS信息" autocomplete="off" maxlength="10"/>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>联系人</label>
				<div class="layui-input-block comInpItem">
					<input id="lxrNameInp" type="text" class="layui-input" placeholder="请输入联系人姓名" autocomplete="off" maxlength="10"/>
				</div>		
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label"><span class="mustItem">*</span>手机号码</label>
				<div class="layui-input-block comInpItem">
					<input id="lxrTel" type="text" class="layui-input" placeholder="请输入联系人手机号码" autocomplete="off" maxlength="11"/>
				</div>		
			</div>
			
			<div class="layui-form-item qianfengWrap">
				<label class="layui-form-label imgDetTit"><span class="mustItem">*</span>相关图片</label>
				<div class="layui-input-block comInpItem innerQianfeng">
					<div class="qianfengItem">
						<p class="imgTit"><span class="mustItem">*</span>磅单图片</p>
						<a href="javascript:void(0)" id="addImgBtn_bdImg" class="addQfImgBtn" title="请添加磅单图片">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_bdImg"/>
						</a>
						<span id="viewBdBigImg" class="viewQfBigImg">查看原图</span>
					</div>
					
					<div class="qianfengItem">
						<p class="imgTit"><span class="mustItem">*</span>危化品许可证</p>
						<a href="javascript:void(0)" id="addImgBtn_wxpImg" class="addQfImgBtn" title="请添加危化品许可证">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_wxpImg"/>
						</a>
						<span id="viewWhpBigImg" class="viewQfBigImg">查看原图</span>
					</div>
					
					<div class="qianfengItem noMargR">
						<p class="imgTit"><span class="mustItem">*</span>车辆照片</p>
						<a href="javascript:void(0)" id="addImgBtn_clImg" class="addQfImgBtn" title="请添加车辆照片">
							<i class="iconfont icon-add"></i>
							<img id="thubImg_clImg"/>
						</a>
						<span id="viewClBigImg" class="viewQfBigImg">查看原图</span>
					</div>
				</div>
			</div>
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-block comInpItem">
					<textarea id="remark" placeholder="请输入备注(200字以内)" maxlength="200" class="layui-textarea"></textarea>
				</div>		
			</div>
			
			<div class="layui-form-item addEditItem">
				<label class="layui-form-label">燃气买卖详情图</label>
				<span class="tipsTxt">最多上传9张</span>
				<div class="layui-input-block comInpItem">
					<div class="detImgList">
						<ul id="detImgListUl"></ul>
					</div>
					<a id="addDetImgBtn" title="添加图片" class="addDetImgBtn" href="javascript:void(0)">
						<i class="iconfont icon-add"></i>
					</a>
				</div>
			</div>
			
			<div class="layui-form-item comInpItem hasAlign">
				<button id="saveBtn" class="layui-btn">保存燃气买卖信息</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var cardTitle = ["京", "沪", "津", "渝", "冀", "豫", "云", "辽", "黑", "湘", "鲁", "新", "苏",  "浙", "赣", "鄂", "桂", "甘", "晋", "蒙", "陕", "吉", "闽", "贵", "粤", "川", "青", "藏", "琼", "宁"];
			var cardWords = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
			var tmpProvNameArr = [];
			var mainImgSucc = '', bdImgSucc = '',whpImgSucc = '',trucksImgSucc = '',qfImgSucc1='',qfImgSucc2='',qfImgSucc3='';
			var globalOpts = parent.globalOpts,isRightVolume = false,isRightPrice = false,isRightCardNum = false;
			var tmpDetImgArr = [],currPage = 'addEditRqTradePage';
			var rqId = parent.rqId;
			layui.config({
				base: '/js/frame/js/'
			}).use(['layer','upload','form','laydate','basicInfo','uploadImg'],function(){
				var layer = layui.layer,form = layui.form,upload = layui.upload,laydate = layui.laydate,basicInfo=layui.basicInfo,uploadImg = layui.uploadImg;
				laydate.render({'elem':'#zcDateInp',trigger: 'click'});
				var page = {
					init : function(){
						basicInfo.renderCardNumWords();
						uploadImg.uploadMultiImg('addDetImgBtn','detImgListUl',9);
						this.uploadMainImg('addImgBtn_main','thubImg_main','viewMainBigImg','mainImg');
						this.uploadMainImg('addImgBtn_qfImg1','thubImg_qfImg1','viewBigImg_qfImg1','qfImg1');
						this.uploadMainImg('addImgBtn_qfImg2','thubImg_qfImg2','viewBigImg_qfImg2','qfImg2');
						this.uploadMainImg('addImgBtn_qfImg3','thubImg_qfImg3','viewBigImg_qfImg3','qfImg3');
						this.uploadMainImg('addImgBtn_bdImg','thubImg_bdImg','viewBdBigImg','viewBd');
						this.uploadMainImg('addImgBtn_wxpImg','thubImg_wxpImg','viewWhpBigImg','viewWhp');
						this.uploadMainImg('addImgBtn_clImg','thubImg_clImg','viewClBigImg','viewCl');
						this.bindEvent();
						if(globalOpts == 'editBtn'){
							var _this = this;
							setTimeout(function(){
								_this.loadRqTradeInfo();
							},200);
						}else{
							basicInfo.getCompanyList();
							basicInfo.loadProvList();
						}
					},
					loadRqTradeInfo : function(){
						var field = {gasTradeId:rqId,opt:0},_this = this;
						$.ajax({
						    type:"get",
							data : field,
						    dataType:"json",
						    url:"/gasTrade/getSpecGasTradeDetail",
						    success:function (json){
						    	layer.closeAll('loading');
								if(json.code == 200){
									_this.renderRqTradeInfo(json.datas[0]);
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 10002){
									layer.msg('请求参数为空');
								}else if(json.code == 50001){
									layer.msg('当前燃气买卖信息不存在');
								}
						    }
						});
					},
					renderRqTradeInfo : function(list){
						console.log(list)
						var provInpStr = '';
						var cpyStr = '<option value="">请选择贸易商</option>';
						var lqFacStr = '<option value="">请选择液厂</option>';
						var jsyStr = '<option value="">请选择公司驾驶员/押运员</option>';
						var yyyStr = '<option value="">请选择公司驾驶员/押运员</option>';
						isRightVolume = true;
						isRightPrice = true;
						isRightCardNum = true
						if(list.cpyList.length != 0){
							for(var i=0;i<list.cpyList.length;i++){
								if(list.cpyList[i].selFlag){
									$('#compNameInp').val(list.cpyList[i].cpyId);
									cpyStr += '<option selected="selected" value="'+ list.cpyList[i].cpyId +'">'+ list.cpyList[i].cpyName +'</option>';
								}else{
									cpyStr += '<option value="'+ list.cpyList[i].cpyId +'">'+ list.cpyList[i].cpyName +'</option>';
								}
							}
							$('#compNameSel').html(cpyStr);
						}
						if(list.gasFacotryList.length != 0){
							for(var i=0;i<list.gasFacotryList.length;i++){
								if(list.gasFacotryList[i].selFlag){
									$('#lqFactoryInp').val(list.gasFacotryList[i].gfId);
									lqFacStr += '<option selected="selected" value="'+ list.gasFacotryList[i].gfId +'&hlf&'+ list.gasFacotryList[i].headImg +'@@'+ list.gasFacotryList[i].gasTypeId +'@@'+ list.gasFacotryList[i].gasTypeName +'">'+ list.gasFacotryList[i].gfName +'</option>'
								}else{
									lqFacStr += '<option value="'+ list.gasFacotryList[i].gfId +'&hlf&'+ list.gasFacotryList[i].headImg +'@@'+ list.gasFacotryList[i].gasTypeId +'@@'+ list.gasFacotryList[i].gasTypeName +'">'+ list.gasFacotryList[i].gfName +'</option>'
								}
							}
							$('#lqFactorySel').html(lqFacStr);
						}
						$('#lqTypeName').html(list.gasTypeName).css({'color':'#333'});
						$('#lqTypeInp').val(list.gasTypeId);
						mainImgSucc = list.headImg.replace('_small','');
						$('#thubImg_main').show().attr('src','../' + list.headImg);
						console.log(mainImgSucc)
						$('#viewMainBigImg').show();
						$('#cardTitInp').val(list.cpNo.substr(0,1));
						$('#cardWordsInp').val(list.cpNo.substr(1,1));
						$('#cardNumInp').val(list.cpNo.substr(2,5));
						$('#cardTitSel option').each(function(i){
							if($('#cardTitSel option').eq(i).val() == list.cpNo.substr(0,1)){
								$('#cardTitSel option').eq(i).attr('selected','selected');
							}
						});
						$('#cardWordSel option').each(function(i){
							if($('#cardWordSel option').eq(i).val() == list.cpNo.substr(1,1)){
								$('#cardWordSel option').eq(i).attr('selected','selected');
							}
						});
						if(list.jsrList.length != 0){
							for(var i=0;i<list.jsrList.length;i++){
								if(list.jsrList[i].selFlag){
									$('#jsyNameInp').val(list.jsrList[i].jsyName);
									$('#jsyTelInp').val(list.jsrList[i].jsyMobile);
									jsyStr += '<option selected="selected" value="'+ list.jsrList[i].jsyName +'&hlf&'+ list.jsrList[i].jsyMobile +'">'+ list.jsrList[i].jsyName +'</option>';
								}else{
									jsyStr += '<option value="'+ list.jsrList[i].jsyName +'&hlf&'+ list.jsrList[i].jsyMobile +'">'+ list.jsrList[i].jsyName +'</option>';
								}
							}
							$('#jsyNameSel').html(jsyStr);
						}
						if(list.yyrList.length != 0){
							for(var i=0;i<list.yyrList.length;i++){
								if(list.yyrList[i].selFlag){
									$('#yyyNameInp').val(list.yyrList[i].yyrName);
									$('#yyyTelInp').val(list.yyrList[i].yyrMobile);
									yyyStr += '<option selected="selected" value="'+ list.yyrList[i].yyrName +'&hlf&'+ list.yyrList[i].yyrMobile +'">'+ list.yyrList[i].yyrName +'</option>';
								}else{
									yyyStr += '<option value="'+ list.yyrList[i].yyrName +'&hlf&'+ list.yyrList[i].yyrMobile +'">'+ list.yyrList[i].yyrName +'</option>';
								}
							}
							$('#yyyNameSel').html(yyyStr);
						}
						$('#gasVolumeInp').val(list.gasVolume);
						$('#gasPriceInp').val(list.gasPrice);
						$('#zcDateInp').val(list.zcDate);
						$('#qfTxtInp1').val(list.qfTxt1);
						$('#qfTxtInp2').val(list.qfTxt2);
						$('#qfTxtInp3').val(list.qfTxt3);
						if(list.qfImg1 != ''){
							qfImgSucc1 = list.qfImg1.replace('_small','');
							$('#thubImg_qfImg1').show().attr('src','../' + list.qfImg1);
							$('#viewBigImg_qfImg1').show().css({'display':'block'});
						}
						if(list.qfImg2 != ''){
							qfImgSucc2 = list.qfImg2.replace('_small','');
							$('#thubImg_qfImg2').show().attr('src','../' + list.qfImg2);
							$('#viewBigImg_qfImg2').show().css({'display':'block'});
						}
						if(list.qfImg3 != ''){
							qfImgSucc3 = list.qfImg3.replace('_small','');
							$('#thubImg_qfImg3').show().attr('src','../' + list.qfImg3);
							$('#viewBigImg_qfImg3').show().css({'display':'block'});
						}
						for(var i=0;i<list.psArea.length;i++){
							if(list.psArea[i].selFlag){
								tmpProvNameArr.push(list.psArea[i].provName);
								provInpStr += '<input type="checkbox" name="areaInp" lay-filter="areaFilter" title="'+ list.psArea[i].provName +'" value="'+ list.psArea[i].provName +'" lay-skin="primary" checked';
							}else{
								provInpStr += '<input type="checkbox" name="areaInp" lay-filter="areaFilter" title="'+ list.psArea[i].provName +'" value="'+ list.psArea[i].provName +'" lay-skin="primary"';
							}
							if(list.psArea[i].disableFlag){
								provInpStr += ' disabled/>';
							}else{
								provInpStr += '/>';
							}
						}
						$('#provList').html(provInpStr);
						bdImgSucc = list.bdImg.replace('_small','');
						$('#thubImg_bdImg').show().attr('src','../' + list.bdImg);
						$('#viewBdBigImg').show().css({'display':'block'});
						
						whpImgSucc = list.whpImg.replace('_small','');
						$('#thubImg_wxpImg').show().attr('src','../' + list.whpImg);
						$('#viewWhpBigImg').show().css({'display':'block'});
						
						trucksImgSucc = list.tructsImg.replace('_small','');
						$('#thubImg_clImg').show().attr('src','../' + list.tructsImg);
						$('#viewClBigImg').show().css({'display':'block'});
						$('#lxrNameInp').val(list.lxName);
						$('#lxrTel').val(list.lxTel);
						$('#remark').val(list.remark);
						if(list.otherImgList.length > 0){
							var str = '';
							hasUpNum = list.otherImgList.length;
							var tmpDetBigImg = [];
							if(list.otherImgList.length == 9){
								$('#addDetImgBtn').hide();
							}
							for(var i=0;i<list.otherImgList.length;i++){
								tmpDetBigImg.push( list.otherImgList[i].gtiImg.replace('_small','') );
								str += '<li><input type="hidden" name="detImgInp" value="'+ tmpDetBigImg[i] +'"/><a href="javascript:void(0)" onclick="deleteImg(this)" title="删除"><i class="layui-icon layui-icon-delete"></i></a><img src="../' + list.otherImgList[i].gtiImg + '"/><span onclick=viewBigImg(\''+ tmpDetBigImg[i] +'\')>查看原图</span></li>';
							}
							$('#detImgListUl').html(str);
						}
						$('#GPSInfoInp').val(list.gpsInfo);
						form.render();
					},
					viewOriginImg : function(succUrl){
						if(globalOpts == 'addBtn'){
							window.open('/temp/' + succUrl);
						}else{
							window.open('../' + succUrl);
						}
					},
					bindEvent : function(){
						var _this = this;
						$('#viewMainBigImg').on('click',function(){
							var oldSrc =  $('#thubImg_main').attr('src');
							var newSrc = oldSrc.replace('_small','');
							window.open(newSrc);
						});
						$('#viewBigImg_qfImg1').on('click',function(){
							_this.viewOriginImg(qfImgSucc1);
						});
						$('#viewBigImg_qfImg2').on('click',function(){
							_this.viewOriginImg(qfImgSucc2);
						});
						$('#viewBigImg_qfImg3').on('click',function(){
							_this.viewOriginImg(qfImgSucc3);
						});
						$('#viewBdBigImg').on('click',function(){
							_this.viewOriginImg(bdImgSucc);
						});
						$('#viewWhpBigImg').on('click',function(){
							_this.viewOriginImg(whpImgSucc);
						});
						$('#viewClBigImg').on('click',function(){
							_this.viewOriginImg(trucksImgSucc);
						});
						$('#gasVolumeInp').on('blur',function(){
							var regNum = /^\+?[1-9]\d*$/;
							if($(this).val() != ''){
								if(!regNum.test( $.trim($(this).val()) )){
									layer.msg('装载量应是大于0的正整数');
									isRightVolume = false;
								}else{
									isRightVolume = true;
								}
							}else{
								isRightVolume = false;
							}
						});
						$('#gasPriceInp').on('blur',function(){
							var regNum = /^\+?[1-9]\d*$/;
							if($(this).val() != ''){
								if(!regNum.test( $.trim($(this).val()) )){
									layer.msg('单价应是大于0的正整数');
									isRightPrice = false;
								}else{
									isRightPrice = true;
								}
							}else{
								isRightPrice = false;
							}
						});
						$('#cardNumInp').blur(function(){
							var reg =  /^[0-9a-zA-Z]+$/;
							if($(this).val() != ''){
								if(!reg.test( $.trim($(this).val()) )){
									layer.msg('车牌号码应由数字和字母(共5位)构成，不能含有其他特殊字符');
									isRightCardNum = false;
								}else if($(this).val().length != 5){
									layer.msg('车牌号码长度应是5位');
									isRightCardNum = false;
								}else{
									isRightCardNum = true;
									$(this).val( $(this).val().toUpperCase() );
								}
							}
						});
						//保存
						$('#saveBtn').on('click',function(){
							var compNameInp = $('#compNameInp').val(),
								lqFactoryInp = $('#lqFactoryInp').val(),
								lqTypeInp = $('#lqTypeInp').val(),
								cardTitInp = $('#cardTitInp').val(),
								cardWordsInp = $('#cardWordsInp').val(),
								cardNumInp = $.trim($('#cardNumInp').val()),
								jsyNameInp = $('#jsyNameInp').val(),
								jsyTelInp = $('#jsyTelInp').val(),
								yyyNameInp = $('#yyyNameInp').val(),
								yyyTelInp = $('#yyyTelInp').val(),
								gasVolumeInp = $.trim($('#gasVolumeInp').val()),
								gasPriceInp = $.trim($('#gasPriceInp').val()),
								zcDateInp = $('#zcDateInp').val(),
								qfTxtInp1 = $.trim($('#qfTxtInp1').val()),
								qfTxtInp2 = $.trim($('#qfTxtInp2').val()),
								qfTxtInp3 = $.trim($('#qfTxtInp3').val()),
								GPSInfoInp = $.trim($('#GPSInfoInp').val()),
								lxrNameInp = $.trim($('#lxrNameInp').val()),
								lxrTel = $.trim($('#lxrTel').val()),
								remark = $.trim($('#remark').val()),
								regPhone = /^1\d{10}$/,imgDetStr='',detImgInpLen = $('input[name=detImgInp]').length;
							
							if(compNameInp == ''){
								layer.msg('请选择贸易商');
							}else if(lqFactoryInp == ''){
								layer.msg('请选择液厂');
							}else if(lqTypeInp == ''){
								layer.msg('请指定液质类型');
							}else if(mainImgSucc == ''){
								layer.msg('请上传燃气买卖主图');
							}else if(cardNumInp == ''){
								layer.msg('请输入车牌号码');
							}else if(isRightCardNum == false){
								layer.msg('车牌号码应由数字和字母构成，不能含有其他特殊字符');
							}else if(jsyNameInp == ''){
								layer.msg('请选择驾驶员');
							}else if(yyyNameInp == ''){
								layer.msg('请选择押运员');
							}else if(gasVolumeInp == ''){
								layer.msg('请输入装载量');
							}else if(isRightVolume == false){
								layer.msg('装载量应是大于0的正整数');
							}else if(gasPriceInp == ''){
								layer.msg('请输入单价');
							}else if(isRightPrice == false){
								layer.msg('单价应是大于0的正整数');
							}else if(zcDateInp == ''){
								layer.msg('请选择装车日期');
							}else if(qfTxtInp1 == '' && qfTxtInp2 == '' && qfTxtInp3 == ''){
								layer.msg('至少要填一项铅封文字信息');
							}else if(qfImgSucc1 == '' && qfImgSucc2 == '' && qfImgSucc3 == ''){
								layer.msg('至少要上传一张铅封图片');
							}else if(tmpProvNameArr.length == 0){
								layer.msg('请选择配送区域');
							}else if(GPSInfoInp == ''){
								layer.msg('请输入GPS信息');
							}else if(lxrNameInp == ''){
								layer.msg('请输入联系人姓名');
							}else if(lxrTel == ''){
								layer.msg('请输入联系人手机号码');
							}else if(!regPhone.test(lxrTel) && lxrTel.length != 11){
								layer.msg('手机号码格式不对，请重新填写');
							}else if(bdImgSucc == ''){
								layer.msg('请上传磅单图片');
							}else if(whpImgSucc == ''){
								layer.msg('请上传危化品许可证');
							}else if(trucksImgSucc == ''){
								layer.msg('请上传车辆照片');
							}else{
								var url = '',type = '';
								var index= parent.layer.getFrameIndex(window.name);
								var area = tmpProvNameArr.join(',');
								var cardNum = cardTitInp + cardWordsInp + cardNumInp;
								tmpDetImgArr.length = 0;
								if(detImgInpLen > 0){
									$('input[name=detImgInp]').each(function(i){
										tmpDetImgArr.push($('input[name=detImgInp]').eq(i).val());
									});
									imgDetStr = tmpDetImgArr.join(',');
								}
								var field = {cpyId:compNameInp,gasFactotyId:lqFactoryInp,gasTypeId:lqTypeInp,gasVolume:gasVolumeInp,headImg:mainImgSucc,gasPrice:gasPriceInp,zcDate:zcDateInp,psArea:area,
									cpNo:cardNum,jsyName:jsyNameInp,jsyMobile:jsyTelInp,yyrName:yyyNameInp,yyrMobile:yyyTelInp,qfTxt1:qfTxtInp1,qfTxt2:qfTxtInp2,qfTxt3:qfTxtInp3,
									qfImg1:qfImgSucc1,qfImg2:qfImgSucc2,qfImg3:qfImgSucc3,gpsInfo:GPSInfoInp,lxName:lxrNameInp,lxTel:lxrTel,remark:remark,bdImg:bdImgSucc,whpImg:whpImgSucc,tructsImg:trucksImgSucc,otherImg:imgDetStr};
								if(globalOpts == 'addBtn'){
									url = '/gasTrade/addGasTrade';
									type = 'post';
								}else if(globalOpts == 'editBtn'){
									var editField ={gasTradeId:rqId};
									field = Object.assign(field,editField);
									url = '/gasTrade/upGasTrade';
									type = 'put';
								}
								console.log(JSON.stringify( field ))
								layer.load('1');
								$.ajax({
								    type:type,
									data : field,
								    dataType:"json",
								    url:url,
								    success:function (json){
								    	layer.closeAll('loading');
										if(json.code == 200){
											var title = globalOpts == 'addBtn' ? '添加燃气买卖信息成功' : '编辑燃气买卖信息成功';
											layer.msg(title,{icon:1,time:1200},function(){
												parent.addEditFlag = true;
												parent.ptId = '';
												parent.layer.close(index);
											});
										}else if(json.code == 1000){
											layer.msg('服务器错误');
										}else if(json.code == 50001){
											layer.msg('当前燃气买卖信息不存在');
										}else if(json.code == 70001){
											layer.msg('抱歉，您暂无对燃气买卖信息添加或编辑的权限');
										}else if(json.code == 80001){
											layer.msg('当前储燃气买卖信息审核已通过，暂不能修改');
										}
								    }
								});
							}	
						});
					},
					uploadMainImg : function(elem,imgObj,viewObj,succOpt){
						upload.render({
						    elem: '#'+elem
						    ,url: '/upload/uploadSingle'
							,method : 'post'
						    ,accept : 'images'
							,auto: true
							,before: function(obj){
								layer.load();
						    }
						    ,done: function(res){
								layer.closeAll('loading');
							    $('#'+imgObj).show().attr('src','/temp/' + res.datas);
							    $('#' + viewObj).show().css({'display':'block'});
								if(succOpt == 'mainImg'){
									mainImgSucc = res.datas;
								}else if(succOpt == 'qfImg1'){
									qfImgSucc1 = res.datas;
								}else if(succOpt == 'qfImg2'){
									qfImgSucc2 = res.datas;
								}else if(succOpt == 'qfImg3'){
									qfImgSucc3 = res.datas;
								}else if(succOpt == 'viewBd'){
									bdImgSucc = res.datas;
								}else if(succOpt == 'viewWhp'){
									whpImgSucc = res.datas;
								}else if(succOpt == 'viewCl'){
									trucksImgSucc = res.datas;
								}
						    },
						});
					},
					
				};
				page.init();
			});
		</script>
		
		
	</body>
</html>
