<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/compManager.css"/>
		<title>添加编辑公司</title>
	</head>
	<body class="hasMargTop">
		<div id="layuiTab" class="layui-tab" lay-filter="compFilter">
			<div class="compTabNav  layui-tab-brief">
				<ul class="layui-tab-title">
					<li class="layui-this">公司基本信息</li>
					<li>公司司机押运人</li>
					<li>挂车车牌</li>
					<li>车头车牌</li>
				</ul>
				<a class="closeBtns" href="javascript:void(0)" opts="closeGlobal"><i class="layui-icon layui-icon-close"></i></a>
			</div>
			<div class="layui-tab-content">
				<!-- 公司基本信息 -->
				<div id="basicInfo" class="layui-form layui-tab-item layui-show">
					<div class="addEditWrap layui-form layui-clear">
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label"><span class="mustItem">*</span>公司名称</label>
							<div class="layui-input-block">
								<input id="compNameInp" type="text" placeholder="请输入公司名称(35字以内)" maxlength="35" readonly autocomplete="off" class="layui-input"/>
							</div>		
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label"><span class="mustItem">*</span>公司类型</label>
							<div id="compTypeWrap" class="layui-input-block">
								<input type="hidden" id="compTypeInp" />
								<select id="compTypeSel" lay-filter="compTypeSel"></select>
							</div>		
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label">公司联系人</label>
							<div class="layui-input-block">
								<input id="lxrNameInp" type="text" placeholder="请输入公司联系人(6字以内)" readonly maxlength="6" autocomplete="off" class="layui-input"/>
							</div>		
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label">手机号码</label>
							<div class="layui-input-block">
								<input id="phoneNumInp" type="text" placeholder="请输入手机号码" readonly maxlength="11" autocomplete="off" class="layui-input"/>
							</div>		
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label">公司银行名称</label>
							<div class="layui-input-block">
								<input id="bankName" type="text" placeholder="请输入公司银行名称" readonly maxlength="30" autocomplete="off" class="layui-input"/>
							</div>		
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label">公司开户行</label>
							<div class="layui-input-block">
								<input id="bankAccName" type="text" placeholder="请输入公司开户行" readonly maxlength="40" autocomplete="off" class="layui-input"/>
							</div>		
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label">公司银行卡号</label>
							<div class="layui-input-block">
								<input id="bankNo" type="text" placeholder="请输入公司银行卡号" readonly maxlength="19" autocomplete="off" class="layui-input"/>
							</div>		
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">选择地区</label>
							<input type="hidden" id="provInp" />
							<div class="itemDet">
								<select name="province" lay-filter="province"></select>
							</div>
							<div class="itemDet">
								<input type="hidden" id="cityInp" />
								<select name="city" lay-filter="city"></select>
							</div>
							<div class="itemDet">
								<input type="hidden" id="countyInp" />
								<select name="area" lay-filter="area"></select>
							</div>
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label">公司地址</label>
							<div class="layui-input-block">
								<input id="compAddInp" type="text" placeholder="请输入公司地址" readonly maxlength="50" autocomplete="off" class="layui-input"/>
							</div>		
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">公司执照</label>
							<div id="zzImg" class="zzImg"></div>
						</div>
						<div class="layui-form-item addEditItem">
							<label class="layui-form-label"></label>
							<div class="layui-input-block" style="width:75%;text-align:center;">
								<button type="button" id="checkStaBtn" class="layui-btn" style="width:150px;margin-left:0px;"></button>
								<button type="button" id="cancelBtn" class="layui-btn layui-btn-primary">取消</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 公司司机押运人 -->
				<div id="sjyy" class="layui-form layui-tab-item yyrList"></div>
				<!-- 挂车车牌 -->
				<div id="gccp" class="layui-form layui-tab-item yyrList"></div>
				<!-- 车头车牌 -->
				<div id="ctcp" class="layui-form layui-tab-item yyrList"></div>
			</div>
		</div>
		
		
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var globalOpts = parent.globalOpts;
			var compId = parent.compId,checkSta = parent.checkSta,compName = parent.compName;
			var backCheckSta = 0,isSetFlag = false,checkFlag = false;
			layui.use(['form','layer','element'],function(){
				var form = layui.form,layer=layui.layer,element = layui.element;
				//tab点击事件的监听
				element.on('tab(compFilter)', function(data){
					if(data.index == 0){
						
					}else if(data.index == 1){
						page.loadCompOtherInfo('sjyy');
					}else if(data.index == 2){
						page.loadCompOtherInfo('gccp');
					}else if(data.index == 3){
						page.loadCompOtherInfo('ctcp');
					}
				});
				var page = {
					init : function(){
						this.bindEvent();
						this.loadCompInfo();
						this.loadCheckStaTxtByStaNum(checkSta);
					},
					loadCompOtherInfo : function(opt){
						var url = '',_this = this,currTypeTxt = '';
						if(opt == 'sjyy'){
							url = '/company/queryCompanyPsr';
							currTypeTxt = '司机押运人';
						}else if(opt == 'gccp'){
							url = '/company/queryCompanyGcCP';
							currTypeTxt = '挂车车牌';
						}else if(opt == 'ctcp'){
							url = '/company/queryHeadCP';
							currTypeTxt = '车头车牌';
						}
						layer.load('1');
						$.ajax({
						    type:"get",
							data : { compId:compId},
						    dataType:"json",
						    url:url,
						    success:function (json){
						    	layer.closeAll('loading');
								if(json.code == 200){
									if(opt == 'sjyy'){
										_this.renderSjHtml(json.datas);
									}else if(opt == 'gccp'){
										_this.renderGccpHtml(json.datas,opt);
									}else if(opt == 'ctcp'){
										_this.renderGccpHtml(json.datas,opt);
									}
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 50001){
									$('#' + opt).html("<div class='noDataRec' style='margin:60px auto;'><i class='iconfont icon-wujilu'></i><p>尚未添加"+ currTypeTxt +"记录</p></div>");
								}
						    }
						});
					},
					//生成挂车车牌结构
					renderGccpHtml : function(list,opt){
						var str = '<ul>';
						for(var i=0;i<list.length;i++){
							str += '<li>';
							str += '<strong>'+ list[i].cph +'</strong>';
						}
						str += '</ul>';
						$('#' +opt).html(str);
					},
					//生成公司司机押运人list
					renderSjHtml : function(list){
						var str = '<ul>';
						for(var i=0;i<list.length;i++){
							str += '<li>';
							str += '<strong>'+ list[i].psrName +'<span>('+ list[i].psrSex +')</span></strong>';
							str += '<p>'+ list[i].psrMobile +'</p>';
						}
						str += '</ul>';
						$('#sjyy').html(str);
					},
					loadCheckStaTxtByStaNum : function(checkSta){
						if(checkSta == 2){//当前审核状态为不通过 需设置更通过
							$('#checkStaBtn').removeClass('notPassBg').html('更改为通过');
							backCheckSta = 1;
						}else if(checkSta == 1){//当前审核状态为通过 需设置不通过
							$('#checkStaBtn').html('更改为不通过').addClass('notPassBg');
							backCheckSta = 2;
						}else if(checkSta == 0){
							$('#checkStaBtn').removeClass('notPassBg').html('审核');
							backCheckSta = 0;
						}
					},
					loadCompInfo : function(){
						layer.load('1');
						var _this = this;
						$.ajax({
						    type:"get",
							data : { compId:compId},
						    dataType:"json",
						    url:"/company/getSpecCompanyDetail",
						    success:function (json){
						    	layer.closeAll('loading');
								if(json.code == 200){
									console.log(json)
									_this.renderCompInfoHtml(json.datas);
								}else if(json.code == 1000){
									layer.msg('服务器错误');
								}else if(json.code == 50001){
									layer.msg('当前公司信息不存在！');
								}
						    }
						});
					},
					renderCompInfoHtml : function(list){
						var str = '';
						$('#compNameInp').val(list[0].cpyName);
						$('#compTypeInp').val(list[0].cptTypeName);
						$('#lxrNameInp').val(list[0].lxName);
						$('#phoneNumInp').val(list[0].lxTel);
						$('#bankName').val(list[0].bankName);
						$('#bankAccName').val(list[0].bankAccount);
						$('#bankNo').val(list[0].bankNo);
						$('#provInp').val(list[0].provName);
						$('#cityInp').val(list[0].city);
						$('#countyInp').val(list[0].county);
						$('#compAddInp').val(list[0].address);
						$('#compTypeSel').html('<option>'+ list[0].cptTypeName +'</option>');
						$('select[name=province]').html('<option>'+ list[0].provName +'</option>');
						$('select[name=city]').html('<option>'+ list[0].city +'</option>');
						$('select[name=area]').html('<option>'+ list[0].county +'</option>');
						if(list[0].zzImageList.length > 0){
							for(var i=0;i<list[0].zzImageList.length;i++){
								str += '<a href="javascript:void(0)"><img src="'+ list[0].zzImageList[i].czImage +'"/></a>';
							}
							$('#zzImg').html(str);
						}else{
							$('#zzImg').html('<p style="color:#999;line-height:38px;">暂未上传公司执照！</p>');
						}
						form.render();
					},
					closeLayer : function(){
						var index= parent.layer.getFrameIndex(window.name);
						if(!isSetFlag){
							parent.addEditFlag = false;
						}
						parent.layer.close(index);
					},
					checkVerify : function(){
						layer.load();
						var _this = this;
						var field = {id:compId,checkSta:backCheckSta};
						$.ajax({
							type:'PUT',
							dataType:"json",
							data :field,
							url:'/company/updateCompByStatus',
							success:function (json){
								layer.closeAll('loading');
								if(json.code == 200){
									layer.msg("变更公司审核状态成功",{icon:1,time:1000},function(){
										parent.addEditFlag = true;
										isSetFlag = true;
										_this.loadCheckStaTxtByStaNum(backCheckSta);
									});
								}else if(json.code == 50001){
									layer.msg("保存失败，当前公司不存在", {icon:5,anim:6,time:2000});
								}else if(json.code == 1000){
									layer.msg("系统错误，请重试", {icon:5,anim:6,time:1000});
								}else if(json.code == 70001){
									layer.msg("抱歉，您暂无权限修改公司审核状态", {icon:5,anim:6,time:1500});
								}
							}
						});
					},
					bindEvent : function(){
						var _this = this;
						$('#cancelBtn').on('click',function(){
							_this.closeLayer();
						});
						$('.closeBtns').on('click',function(){
							_this.closeLayer();
						});
						$('#checkStaBtn').on('click',function(){
							if(checkSta == 1 || checkSta == 2){
								var title = '';
								backCheckSta == '1' ? title = '<span style="color:green;">通过</span>' : title = '<span style="color:red;">不通过</span>';
								layer.confirm('确认要将公司[<span style="color:#009688;">' + compName + '</span>]的审核状态变更为' + title + '?', {
								  title:'变更公司审核状态提示',
								  skin: 'layui-layer-molv',
								  btn: ['确定','取消'] //按钮
								},function(){
									_this.checkVerify();
								});
							}else if(checkSta == 0){
								layer.open({
									title : '审核公司[' + compName + ']',
									type: 2,
									skin:'layui-layer-molv', //样式类名
									closeBtn: 0, //不显示关闭按钮
									area : ['500px','200px'],
									content: '../compManager/verifyComp.html',
									end : function(){
										if(checkFlag){
											isSetFlag = true;
											_this.loadCheckStaTxtByStaNum(checkSta);
										}
									}
								});
							}
						});
					}
				};
				page.init();
			});
		</script>
	</body>
</html>
