<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/compManager.css"/>
		<link rel="stylesheet" type="text/css" href="../js/layui/css/modules/layui-icon-extend/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../js/pace/pace-theme-flash.min.css"/>
		<script src="../js/pace/pace.min.js" type="text/javascript" charset="utf-8"></script>
		<title>公司管理</title>
	</head>
	<body style="background:#f2f2f2;">
		<div class="layui-fluid" style="margin-top:15px;">
			<div class="layui-row">
				<div class="layui-card">
					<div class="layui-card-header posRel">
						<span class="itemDivs">公司列表</span>
					</div>
					<div class="layui-card-body">
						<input type="hidden" id="checkStaInp" value="-1" />
						<div class="filterWrap layui-clear">
							<div class="filterItemSel layui-form">
								<select id="compTypeSel" lay-filter="compTypeSel">
									<option value="">请选择公司类型</option>
								</select>
							</div>
							<div class="filterItem layui-form">
								<input id="compName" type="text" class="layui-input" placeholder="请输入公司名称" autocomplete="off" />
								<a class="clearBtn" href="javascript:void(0)" title="清空"><i class="layui-icon layui-icon-close"></i></a>
								<button id="queryBtn" class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
							</div>
						</div>
						<table id="compTable" class="layui-table" lay-filter="compTable"></table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var typeId = '',checkFlag = false,compId = '',checkSta='',globalOpts = '',addEditFlag = false,compName='',currPage='compListPage';
			layui.config({
				base: '/js/frame/js/'
			}).extend({ //设定组件别名
			    common:  'common'// 表示模块文件的名字
			}).use(['layer','table','form','common'],function(){
				var layer = layui.layer,table = layui.table,form = layui.form,common = layui.common;
				form.on('select(compTypeSel)',function(data){
					data.value == '' ? typeId = '' : typeId = data.value;
					page.loadCompList();
				});
				var page = {
					init : function(){
						common.getCompTypeSel();
						this.bindEvent();
						this.loadCompList();
					},
					bindEvent : function(){
						var _this = this;
						$('#queryBtn').on('click',function(){
							_this.loadCompList();
						});
						$('.clearBtn').on('click',function(){
							$('#compName').val('');
							_this.loadCompList();
						});
					},
					commonLayer : function(){
						addEditFlag = true;
						var fullScreenIndex = layer.open({
							title : '',
							type: 2,
							closeBtn: 0, //不显示关闭按钮
							area : ['500px','300px'],
							content: '../compManager/addEditComp.html',
							end : function(){
								if(addEditFlag){
									page.loadCompList();
								}
							},
							cancel: function () {
								addEditFlag = false;
							}
						});
						layer.full(fullScreenIndex);
					},
					loadCompList : function(){
						var _this = this;
						layer.load();
						var checkStaInp = $('#checkStaInp').val(),
							compName = $.trim($('#compName').val());
						var field = {typeId:typeId,name:compName,checkSta:checkStaInp};
						table.render({
							elem: '#compTable',
							height: 'full-150',
							url : '/company/queryCompany',
							method : 'get',
							parseData : function(res){
								return {
									"code" : 0,
									"data" : res.datas,
									"count":res.count
								}
							},
							where:field,
							page : true,
							limit:20,
							even : true,
							text: {none : '暂无相关数据'},
							limits:[10,20,30,40],
							cols : [
								[
									{field : '', title: '序号',type:'numbers', align:'center'},
									{field : 'name', title: '公司名称',width:'200',align:'center',templet : function(d){
										var str = '';
										if(d.checkStatus == 1){//通过
											str += '<span class="currCheckFlag passBg"></span>';
										}else if(d.checkStatus == 2){//不通过
											str += '<span class="currCheckFlag noPassBg"></span>';
										}
										str += '<span>'+ d.name +'</span>';
										return str;
									}},
									{field : 'lxName', title: '联系人',width:'100',align:'center'},
									{field : 'lxTel', title: '联系电话',width:'150',align:'center'},
									{field : 'companyType', title: '公司类型',width:'120',align:'center'},
									{field : 'address', title: '公司地址',width:'260',align:'center'},
									{field : 'province', title: '所在省',width:'120',align:'center'},
									{field : 'city', title: '所在市',width:'120',align:'center'},
									{field : 'county', title: '所在县/区',width:'120',align:'center'},
									{field : 'bankName', title: '公司银行名称',width:'180',align:'center'},
									{field : 'bankAccount', title: '公司银行账户',width:'180',align:'center'},
									{field : 'bankNo', title: '公司银行账号',width:'220',align:'center'},
									{field : 'addTime', title: '公司注册平台时间',width:'220',align:'center'},
									{field : '', title: '操作', fixed: 'right',width:'120', align:'center',templet : function(d){
										var strHtml = '<a href="javascript:void(0)" compId="'+ d.id +'" compName="'+ d.name +'" checkSta="'+ d.checkStatus +'" lay-event="viewCheckComp" class="layui-btn layui-btn-primary layui-btn-xs"><i class="layui-icon layui-icon-search"></i>查看信息</a>';
										return strHtml;
									}}
								]
							],
							done : function(res, curr, count){
								layer.closeAll('loading');
							}
						});
					}
				};
				table.on('tool(compTable)',function(obj){
					if(obj.event == 'viewCheckComp'){//编辑公司信息
						globalOpts = 'editBtn';
						compId = $(this).attr('compId'),
						compName = $(this).attr('compName');
						checkSta = $(this).attr('checkSta');
						page.commonLayer();
					}
				});
				page.init();
			});
		</script>
	</body>
</html>
