<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/roleManager.css"/>
		<title>添加编辑槽车储罐品牌</title>
	</head>
	<body>
		<div class="addEditRoleCon">
			<div class="comRoleDiv">
				<span class="fl"><em style="color:#f00;font-style:normal;">*</em>储罐品牌名称：</span>
				<input id="inpTankName" autocomplete="off" type="text" placeholder="请输入储罐品牌名称(20字以内)" maxlength="20">
			</div>
			<div class="addEidtBtnWrap layui-clear">
				<a class="saveBtn" href="javascript:void(0)"  style="margin:0 15px 0 140px">保存</a>
				<a class="cancelBtn" href="javascript:void(0)">取消</a>
			</div>
		</div>
		
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var globalOpts = parent.globalOpts;
			var tankId = parent.tankId;
			var tankName = parent.tankName;
			layui.use(['layer'],function(){
				var layer = layui.layer;
				var page = {
					init : function(){
						this.bindEvent();
						if(globalOpts == 'editBtn'){
							this.loadTankBrandInfo();
						}
					},
					bindEvent : function(){
						$('.cancelBtn').on('click',function(){
							var index= parent.layer.getFrameIndex(window.name);
							parent.addFlag = false;
							parent.layer.close(index);
						});
						$('.saveBtn').on('click',function(){
							var inpRoleName = $.trim($("#inpTankName").val()),
								index= parent.layer.getFrameIndex(window.name);
							if(inpRoleName == ""){
								layer.msg("储罐品牌名称不能为空", {icon:5,anim:6,time:1000});
							}else{
								//var reg = /^[\u4E00-\u9FA5]+$/; 
								var url = "",type = '';
								if(globalOpts == "addBtn"){//表示增加气源类型
									var field = {name : inpRoleName};
									url = "/tPotPp/addTPotPp";
									type = 'post';
								}else{//表示编辑气源类型
									var field = {id : tankId,name : inpRoleName};
									url = "/tPotPp/updateTPotPp";
									type = 'put';
								}
								layer.load('1');
								$.ajax({
									type:type,
									dataType:"json",
									data :field,
									url:url,
									success:function (json){
										layer.closeAll('loading');
										if(json.code == 200){
											if(globalOpts == "addBtn"){//表示增加角色
												layer.msg("添加储罐品牌成功",{icon:1,time:1000},function(){
													parent.addFlag = true;
													parent.layer.close(index);
												});
											}else{
												layer.msg("编辑储罐品牌成功",{icon:1,time:1000},function(){
													parent.addFlag = true;
													parent.tankId = '';
													parent.layer.close(index);
												});
											}
										}else if(json.code == 50003){
											layer.msg("储罐品牌名称存在，请重新编辑", {icon:5,anim:6,time:1500});
										}else if(json.code == 50001){
											layer.msg("保存失败，当前编辑储罐品牌不存在", {icon:5,anim:6,time:1500});
										}else if(json.code == 1000){
											layer.msg("系统错误，请重试", {icon:5,anim:6,time:1200});
										}else if(json.code == 70001){
											layer.msg("抱歉，您暂无权限增加编辑储罐品牌", {icon:5,anim:6,time:1500});
										}
									}
								});
							}
						});
					},
					loadTankBrandInfo : function(){
						$('#inpTankName').val(tankName);
					}
				};
				page.init();
			});
		</script>
	</body>
</html>
