<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
  	<script type="text/javascript">
  		function goUploadPage(){
  			window.location.href = "uploadPage";
  		}
		function goAddPersonPage(){
  			window.location.href = "goAddPersonPage";
  		}
		function getAllPerson(){
		var flag = false;
  			$.ajax({
  		        type:'get',
  		        dataType:'json',
  		        async:false,
  		        url:"getAllPerson",
  		        success:function (json){
  		        	if(json["code"] == 200){
  		        		console.log("成功显示")
						flag = true;
  		        	}else{
  		        		console.log("账号或者密码错误!");
  		        	}
  		        }
  			});
			return flag;
		}
		function getPersonData(){
		var flag = false;
			$.ajax({
  		        type:'get',
  		        dataType:'json',
  		        async:false,
  		        url:"getPersonData",
  		        success:function (json){
  		        	if(json["code"] == 200){
  		        		console.log("成功显示用户数据")
						flag = true;
  		        	}else{
  		        		console.log("账号或者密码错误!");
  		        	}
  		        }
  			});
			return flag;
		}
		function getAllPerson1(){
			var flag = getAllPerson();
			if(flag){
				getPersonData();
			}
		}
  	</script>
  </head>

  <body>
  	欢迎进入用户管理首页
  	<input type="button" onclick="goUploadPage();" value="上传页面">
	<input type="button" onclick="goAddPersonPage()" value="添加用户页面">
	<input type="button" onclick="getAllPerson1()" value="获取用户数据">
	
  </body>
</html>
