<html>
  <head>
  	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
  	<script type="text/javascript">
  		function add(){
  			var account = $('#account').val();
  			var password = $('#password').val();
			var name = $('#name').val();
			var age = $('#age').val();
			var birthday = $('#birthday').val();
  			$.ajax({
  		        type:'post',
  		        dataType:'json',
  		        async:false,
  		        data:{account:account,password:password,name:name,age:age,birthday:birthday},
  		        url:"addPerson",
  		        success:function (json){
  		        	if(json["code"] == 200){
  		        		window.location.href = "goPersonPage";
  		        	}else{
  		        		alert("服务器错误!");
  		        	}
  		        },
  			});
  		}
  	</script>
  </head>

  <body>
    <br><br><br><br>
    <img alt="" src="images/11.png">
    <br><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账号：<input type="text" id="account"><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：<input type="password" id="password"><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名：<input type="text" id="name"><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年纪：<input type="password" id="age"><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生日：<input type="text" id="birthday"><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="增加" onclick=add();>
  </body>
</html>
