<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../css/formInp.css"/>
		<link rel="stylesheet" type="text/css" href="../js/pace/pace-theme-flash.min.css"/>
		<script src="../js/pace/pace.min.js" type="text/javascript" charset="utf-8"></script>
		<title>密码设置</title>
	</head>
	<body style="background:#f2f2f2;color:#666;">
	  	<div class="layui-fluid" style="margin-top:15px;">
	  		<div class="layui-row">
	  			<div class="layui-card">
	  				<div class="layui-card-header">密码设置</div>
	  				<div class="layui-card-body" pad15>
	  					<div id="setPerInfo" class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label">当前密码</label>
								<div class="layui-input-inline">
									<input id="passOldInp" type="password" name="oldPass" required lay-verify="judgeOldPass" class="layui-input" autocomplete="off" placeholder="请输入当前密码">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">新密码</label>
								<div class="layui-input-inline">
									<input id="newPassInp" type="password" name="newPass" required lay-verify="judgePass" class="layui-input" autocomplete="off" placeholder="请输入新密码">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">确认新密码</label>
								<div class="layui-input-inline">
									<input type="password" lay-verify="judgeConfirPass" class="layui-input" autocomplete="off" placeholder="请再次输入新密码">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label"></label>
								<div class="layui-input-inline">
									<button class="layui-btn" lay-submit lay-filter="updatePass">保存修改</button>
								</div>
							</div>
						</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
		
		<script type="text/javascript" src="../js/jquery-1.7.2.min.js" charset="utf-8"></script>
		<script src="../js/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			layui.use(['layer','form'],function(){
				var layer = layui.layer,
					form = layui.form;
				$("#newPassInp").focus(function(){
					layer.tips("新密码由6-16个字符(字母，数字，符号组成),不能输入空格", "#newPassInp", {tips:[2,'#FF8000'],time:0});
				}); 
				$("#newPassInp").blur(function(){layer.closeAll('tips');});
				form.verify({
					judgeOldPass : function(value){
						if(value == ''){
							return '旧密码不能为空';
						}
					},
					judgePass : function(value){
						if(value == ''){
							return '新密码不能为空';
						}else{
							if(value.length < 6){
								return '新密码的长度不能小于6位';
							}else if(value.length > 16){
								return '新密码的长度不大于小于16位';
							}else if(value == $("#passOldInp").val()){
								return '新密码不能与旧密码相同';
							}
						}
					},
					judgeConfirPass : function(value){
						if(value == ''){
							return '确认新密码不能为空';
						}else{
							if(value != $('#newPassInp').val()){
								return '新密码和确认新密码不相同，请从新输入';
							}
						}
					}
				});
				form.on('submit(updatePass)',function(data){
					var field = data.field;
					for(var attr in field){
						if(attr == "newPass" || attr == "confirNewPass"){
							field[attr] = field[attr].replace(/\s/g,"");
						}
					}
					layer.load();
					$.ajax({
						type:"get",
						dataType:"json",
						url:"/super/upPassword",
						data:field,
						success:function (json){
							layer.closeAll('loading');
							if(json.code == 200){
								layer.msg("密码修改成功",{icon:1,time:1000},function(){
									window.location.href = "goUpPassPage";
								});
							}else if(json.code == 1000){
								layer.msg("服务器错误",{icon:5,anim:6,time:1000});
							}else if(json.code == 20007){
								layer.msg("旧密码输入有误，请重新输入",{icon:5,anim:6,time:1000});
							}else if(json.code == 50001){
								layer.msg("当前用户不存在，修改密码失败",{icon:5,anim:6,time:1000});
							}
						}
					});
				});
			});
		</script>
		
		
		
	</body>
</html>
